.color-primary {
  background-color: #BF9969; }
  .color-primary.extra-light {
    background-color: rgba(191, 153, 105, 0.1); }
  .color-primary.light {
    background-color: rgba(191, 153, 105, 0.3); }
  .color-primary.semi-light {
    background-color: rgba(191, 153, 105, 0.7); }
  .color-primary.extra-dark {
    background-color: #30261a; }
  .color-primary.dark {
    background-color: #604d35; }
  .color-primary.semi-dark {
    background-color: #8f734f; }
  .color-primary.gradient {
    background: linear-gradient(135deg, #604d35, #392e20); }

.color-secondary {
  background-color: #285973; }
  .color-secondary.extra-light {
    background-color: rgba(40, 89, 115, 0.1); }
  .color-secondary.light {
    background-color: rgba(40, 89, 115, 0.3); }
  .color-secondary.semi-light {
    background-color: rgba(40, 89, 115, 0.7); }
  .color-secondary.extra-dark {
    background-color: #0a161d; }
  .color-secondary.dark {
    background-color: #142d3a; }
  .color-secondary.semi-dark {
    background-color: #1e4356; }
  .color-secondary.gradient {
    background: linear-gradient(135deg, #142d3a, #0c1b23); }

.color-tertiary-1 {
  background-color: #735733; }
  .color-tertiary-1.extra-light {
    background-color: rgba(115, 87, 51, 0.1); }
  .color-tertiary-1.light {
    background-color: rgba(115, 87, 51, 0.3); }
  .color-tertiary-1.semi-light {
    background-color: rgba(115, 87, 51, 0.7); }
  .color-tertiary-1.extra-dark {
    background-color: #1d160d; }
  .color-tertiary-1.dark {
    background-color: #3a2c1a; }
  .color-tertiary-1.semi-dark {
    background-color: #564126; }
  .color-tertiary-1.gradient {
    background: linear-gradient(135deg, #3a2c1a, #231a0f); }

.color-tertiary-2 {
  background-color: #FFD8A6; }
  .color-tertiary-2.extra-light {
    background-color: rgba(255, 216, 166, 0.1); }
  .color-tertiary-2.light {
    background-color: rgba(255, 216, 166, 0.3); }
  .color-tertiary-2.semi-light {
    background-color: rgba(255, 216, 166, 0.7); }
  .color-tertiary-2.extra-dark {
    background-color: #40362a; }
  .color-tertiary-2.dark {
    background-color: #806c53; }
  .color-tertiary-2.semi-dark {
    background-color: #bfa27d; }
  .color-tertiary-2.gradient {
    background: linear-gradient(135deg, #806c53, #4d4132); }

.color-tertiary-3 {
  background-color: #69A2BF; }
  .color-tertiary-3.extra-light {
    background-color: rgba(105, 162, 191, 0.1); }
  .color-tertiary-3.light {
    background-color: rgba(105, 162, 191, 0.3); }
  .color-tertiary-3.semi-light {
    background-color: rgba(105, 162, 191, 0.7); }
  .color-tertiary-3.extra-dark {
    background-color: #1a2930; }
  .color-tertiary-3.dark {
    background-color: #355160; }
  .color-tertiary-3.semi-dark {
    background-color: #4f7a8f; }
  .color-tertiary-3.gradient {
    background: linear-gradient(135deg, #355160, #203139); }

body {
  background: #BF9969; }
