.color-primary {
  background-color: #BF9969; }
  .color-primary.extra-light {
    background-color: rgba(191, 153, 105, 0.1); }
  .color-primary.light {
    background-color: rgba(191, 153, 105, 0.3); }
  .color-primary.semi-light {
    background-color: rgba(191, 153, 105, 0.7); }
  .color-primary.extra-dark {
    background-color: #130f0b; }
  .color-primary.dark {
    background-color: #392e20; }
  .color-primary.semi-dark {
    background-color: #866b4a; }
  .color-primary.gradient {
    background: linear-gradient(135deg, #604d35, #392e20); }
  .color-primary.dark-trans {
    background-color: rgba(57, 46, 32, 0.5); }

.color-secondary {
  background-color: #285973; }
  .color-secondary.extra-light {
    background-color: rgba(40, 89, 115, 0.1); }
  .color-secondary.light {
    background-color: rgba(40, 89, 115, 0.3); }
  .color-secondary.semi-light {
    background-color: rgba(40, 89, 115, 0.7); }
  .color-secondary.extra-dark {
    background-color: #04090c; }
  .color-secondary.dark {
    background-color: #0c1b23; }
  .color-secondary.semi-dark {
    background-color: #1c3e51; }
  .color-secondary.gradient {
    background: linear-gradient(135deg, #142d3a, #0c1b23); }
  .color-secondary.dark-trans {
    background-color: rgba(12, 27, 35, 0.5); }

.color-tertiary-1 {
  background-color: #735733; }
  .color-tertiary-1.extra-light {
    background-color: rgba(115, 87, 51, 0.1); }
  .color-tertiary-1.light {
    background-color: rgba(115, 87, 51, 0.3); }
  .color-tertiary-1.semi-light {
    background-color: rgba(115, 87, 51, 0.7); }
  .color-tertiary-1.extra-dark {
    background-color: #0c0905; }
  .color-tertiary-1.dark {
    background-color: #231a0f; }
  .color-tertiary-1.semi-dark {
    background-color: #513d24; }
  .color-tertiary-1.gradient {
    background: linear-gradient(135deg, #3a2c1a, #231a0f); }
  .color-tertiary-1.dark-trans {
    background-color: rgba(35, 26, 15, 0.5); }

.color-tertiary-2 {
  background-color: #FFD8A6; }
  .color-tertiary-2.extra-light {
    background-color: rgba(255, 216, 166, 0.1); }
  .color-tertiary-2.light {
    background-color: rgba(255, 216, 166, 0.3); }
  .color-tertiary-2.semi-light {
    background-color: rgba(255, 216, 166, 0.7); }
  .color-tertiary-2.extra-dark {
    background-color: #1a1611; }
  .color-tertiary-2.dark {
    background-color: #4d4132; }
  .color-tertiary-2.semi-dark {
    background-color: #b39774; }
  .color-tertiary-2.gradient {
    background: linear-gradient(135deg, #806c53, #4d4132); }
  .color-tertiary-2.dark-trans {
    background-color: rgba(77, 65, 50, 0.5); }

.color-tertiary-3 {
  background-color: #69A2BF; }
  .color-tertiary-3.extra-light {
    background-color: rgba(105, 162, 191, 0.1); }
  .color-tertiary-3.light {
    background-color: rgba(105, 162, 191, 0.3); }
  .color-tertiary-3.semi-light {
    background-color: rgba(105, 162, 191, 0.7); }
  .color-tertiary-3.extra-dark {
    background-color: #0b1013; }
  .color-tertiary-3.dark {
    background-color: #203139; }
  .color-tertiary-3.semi-dark {
    background-color: #4a7186; }
  .color-tertiary-3.gradient {
    background: linear-gradient(135deg, #355160, #203139); }
  .color-tertiary-3.dark-trans {
    background-color: rgba(32, 49, 57, 0.5); }

/*
Style.css overrides
*/
.page-template-panel-page .hentry.has-post-thumbnail {
  text-shadow: none; }

/*
Custom
*/
.font-primary {
  color: set-text-color(#BF9969); }

.font-secondary {
  color: set-text-color(#285973); }

.font-tertiary-1 {
  color: set-text-color(#735733); }

.font-tertiary-2 {
  color: set-text-color(#FFD8A6); }

.font-tertiary-3 {
  color: set-text-color(#69A2BF); }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 24px;
  color: #285973; }

h1, h2, h3, h5 {
  font-family: 'Droid Serif', Helvetica, serif;
  font-weight: normal; }

h1 {
  font-size: 42px;
  line-height: 54px;
  color: #F8F4F0; }

h2 {
  font-size: 36px;
  line-height: 48px;
  color: #285973; }

h3 {
  font-size: 24px;
  line-height: 32px;
  color: #F8F4F0; }

h4 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  color: #285973; }

p {
  font-family: 'Lato', Helvetica, sans-serif; }

ul, ol {
  margin-left: 30px; }
  ul li, ol li {
    font-size: 20px;
    line-height: 32px; }

label {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase; }

.gradient h2, .gradient h3, .gradient h4, .gradient h5, .gradient h6, .gradient p, .gradient li {
  color: #F8F4F0; }

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  font-weight: bold;
  font-size: 18px;
  padding: 15px 40px;
  box-shadow: 0 1px 3px 2px rgba(3, 3, 3, 0.3);
  transition: background-color .25s, box-shadow .25s;
  line-height: 1; }
  .button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    box-shadow: none; }
  .button.button-condensed, button.button-condensed, input[type="button"].button-condensed, input[type="reset"].button-condensed, input[type="submit"].button-condensed {
    padding: 9px 30px; }
  .button.button-primary, button.button-primary, input[type="button"].button-primary, input[type="reset"].button-primary, input[type="submit"].button-primary {
    background-color: #BF9969;
    color: #030303; }
    .button.button-primary:hover, button.button-primary:hover, input[type="button"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="submit"].button-primary:hover {
      background-color: #876c4a; }
    .button.button-primary:active, .button.button-primary:focus, button.button-primary:active, button.button-primary:focus, input[type="button"].button-primary:active, input[type="button"].button-primary:focus, input[type="reset"].button-primary:active, input[type="reset"].button-primary:focus, input[type="submit"].button-primary:active, input[type="submit"].button-primary:focus {
      background-color: #d0b492; }
  .button.button-secondary, button.button-secondary, input[type="button"].button-secondary, input[type="reset"].button-secondary, input[type="submit"].button-secondary {
    background-color: #285973;
    color: #F8F4F0; }
    .button.button-secondary:hover, button.button-secondary:hover, input[type="button"].button-secondary:hover, input[type="reset"].button-secondary:hover, input[type="submit"].button-secondary:hover {
      background-color: #1d3f51; }
    .button.button-secondary:active, .button.button-secondary:focus, button.button-secondary:active, button.button-secondary:focus, input[type="button"].button-secondary:active, input[type="button"].button-secondary:focus, input[type="reset"].button-secondary:active, input[type="reset"].button-secondary:focus, input[type="submit"].button-secondary:active, input[type="submit"].button-secondary:focus {
      background-color: #668899; }
  .button.button-tertiary-1, button.button-tertiary-1, input[type="button"].button-tertiary-1, input[type="reset"].button-tertiary-1, input[type="submit"].button-tertiary-1 {
    background-color: #735733;
    color: #F8F4F0; }
    .button.button-tertiary-1:hover, button.button-tertiary-1:hover, input[type="button"].button-tertiary-1:hover, input[type="reset"].button-tertiary-1:hover, input[type="submit"].button-tertiary-1:hover {
      background-color: #513e25; }
    .button.button-tertiary-1:active, .button.button-tertiary-1:focus, button.button-tertiary-1:active, button.button-tertiary-1:focus, input[type="button"].button-tertiary-1:active, input[type="button"].button-tertiary-1:focus, input[type="reset"].button-tertiary-1:active, input[type="reset"].button-tertiary-1:focus, input[type="submit"].button-tertiary-1:active, input[type="submit"].button-tertiary-1:focus {
      background-color: #9b866c; }
  .button.button-tertiary-2, button.button-tertiary-2, input[type="button"].button-tertiary-2, input[type="reset"].button-tertiary-2, input[type="submit"].button-tertiary-2 {
    background-color: #FFD8A6;
    color: #030303; }
    .button.button-tertiary-2:hover, button.button-tertiary-2:hover, input[type="button"].button-tertiary-2:hover, input[type="reset"].button-tertiary-2:hover, input[type="submit"].button-tertiary-2:hover {
      background-color: #b39875; }
    .button.button-tertiary-2:active, .button.button-tertiary-2:focus, button.button-tertiary-2:active, button.button-tertiary-2:focus, input[type="button"].button-tertiary-2:active, input[type="button"].button-tertiary-2:focus, input[type="reset"].button-tertiary-2:active, input[type="reset"].button-tertiary-2:focus, input[type="submit"].button-tertiary-2:active, input[type="submit"].button-tertiary-2:focus {
      background-color: #fde0bc; }
  .button.button-tertiary-3, button.button-tertiary-3, input[type="button"].button-tertiary-3, input[type="reset"].button-tertiary-3, input[type="submit"].button-tertiary-3 {
    background-color: #69A2BF;
    color: #030303; }
    .button.button-tertiary-3:hover, button.button-tertiary-3:hover, input[type="button"].button-tertiary-3:hover, input[type="reset"].button-tertiary-3:hover, input[type="submit"].button-tertiary-3:hover {
      background-color: #4a7287; }
    .button.button-tertiary-3:active, .button.button-tertiary-3:focus, button.button-tertiary-3:active, button.button-tertiary-3:focus, input[type="button"].button-tertiary-3:active, input[type="button"].button-tertiary-3:focus, input[type="reset"].button-tertiary-3:active, input[type="reset"].button-tertiary-3:focus, input[type="submit"].button-tertiary-3:active, input[type="submit"].button-tertiary-3:focus {
      background-color: #94bbce; }

@font-face {
  font-family: 'icomoon';
  src: url("assets/fonts/icomoon.eot?4ff3x6");
  src: url("assets/fonts/icomoon.eot?4ff3x6#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?4ff3x6") format("truetype"), url("assets/fonts/icomoon.woff?4ff3x6") format("woff"), url("assets/fonts/icomoon.svg?4ff3x6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-garage:before {
  content: "\e900";
  color: #000; }

.icon-key:before {
  content: "\e901";
  color: #000; }

.icon-mail:before {
  content: "\e902";
  color: #000; }

.icon-money:before {
  content: "\e903";
  color: #000; }

.icon-paddle-left:before {
  content: "\e904";
  color: #000; }

.icon-paddle-right:before {
  content: "\e905";
  color: #000; }

.su-column-size-1-2 {
  padding: 80px 32px; }

.su-column {
  margin-left: 0; }

.site-header .contact-header-wrapper {
  width: 100%;
  background-color: #285973;
  position: relative; }
  .site-header .contact-header-wrapper .header-contact {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    background-color: #285973; }
    .site-header .contact-header-wrapper .header-contact .button-wrapper {
      display: inline-block; }
    .site-header .contact-header-wrapper .header-contact .contact-email,
    .site-header .contact-header-wrapper .header-contact .contact-phone,
    .site-header .contact-header-wrapper .header-contact .button-wrapper {
      color: #F8F4F0;
      margin: 1em 0.5em; }

.site-header .menu-header-wrapper .site-branding {
  margin-top: 4px; }

.site-header .menu-header-wrapper .site-menu {
  width: 100%; }
  .site-header .menu-header-wrapper .site-menu .main-navigation {
    margin-top: 0; }
  .site-header .menu-header-wrapper .site-menu .primary-menu {
    justify-content: center; }
    .site-header .menu-header-wrapper .site-menu .primary-menu a {
      color: white;
      border-bottom: none;
      padding: 15px 0; }

.site-header .menu-header-wrapper .header-contact {
  display: flex;
  justify-content: flex-end; }

.post-110,
.post-112,
.post-114 {
  margin: 0;
  padding: 0; }
  .post-110 .su-row,
  .post-112 .su-row,
  .post-114 .su-row {
    display: flex;
    align-items: strech; }

.post-106 .entry-content h1 {
  width: 50%; }

.post-106 .entry-content p {
  width: 43%; }

.post-114 h2 {
  display: flex;
  justify-content: center;
  padding-top: 50px; }

.post-114 .testimonial-entry {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0; }
  .post-114 .testimonial-entry .testimonial-entry-content {
    margin-bottom: 0; }
  .post-114 .testimonial-entry .testimonial-entry-title {
    display: flex;
    justify-content: flex-end; }
  .post-114 .testimonial-entry .testimonial-featured-image {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 218px;
    height: 228px; }
