@charset "UTF-8";
.color-primary {
  background-color: #BF9969; }
  .color-primary.extra-light {
    background-color: rgba(191, 153, 105, 0.1); }
  .color-primary.light {
    background-color: rgba(191, 153, 105, 0.3); }
  .color-primary.semi-light {
    background-color: rgba(191, 153, 105, 0.7); }
  .color-primary.extra-dark {
    background-color: #130f0b; }
  .color-primary.dark {
    background-color: #392e20; }
  .color-primary.semi-dark {
    background-color: #866b4a; }
  .color-primary.gradient {
    background: linear-gradient(135deg, #604d35, #392e20); }
  .color-primary.dark-trans {
    background-color: rgba(57, 46, 32, 0.5); }

.color-secondary {
  background-color: #285973; }
  .color-secondary.extra-light {
    background-color: rgba(40, 89, 115, 0.1); }
  .color-secondary.light {
    background-color: rgba(40, 89, 115, 0.3); }
  .color-secondary.semi-light {
    background-color: rgba(40, 89, 115, 0.7); }
  .color-secondary.extra-dark {
    background-color: #04090c; }
  .color-secondary.dark {
    background-color: #0c1b23; }
  .color-secondary.semi-dark {
    background-color: #1c3e51; }
  .color-secondary.gradient {
    background: linear-gradient(135deg, #142d3a, #0c1b23); }
  .color-secondary.dark-trans {
    background-color: rgba(12, 27, 35, 0.5); }

.color-tertiary-1 {
  background-color: #735733; }
  .color-tertiary-1.extra-light {
    background-color: rgba(115, 87, 51, 0.1); }
  .color-tertiary-1.light {
    background-color: rgba(115, 87, 51, 0.3); }
  .color-tertiary-1.semi-light {
    background-color: rgba(115, 87, 51, 0.7); }
  .color-tertiary-1.extra-dark {
    background-color: #0c0905; }
  .color-tertiary-1.dark {
    background-color: #231a0f; }
  .color-tertiary-1.semi-dark {
    background-color: #513d24; }
  .color-tertiary-1.gradient {
    background: linear-gradient(135deg, #3a2c1a, #231a0f); }
  .color-tertiary-1.dark-trans {
    background-color: rgba(35, 26, 15, 0.5); }

.color-tertiary-2 {
  background-color: #FFD8A6; }
  .color-tertiary-2.extra-light {
    background-color: rgba(255, 216, 166, 0.1); }
  .color-tertiary-2.light {
    background-color: rgba(255, 216, 166, 0.3); }
  .color-tertiary-2.semi-light {
    background-color: rgba(255, 216, 166, 0.7); }
  .color-tertiary-2.extra-dark {
    background-color: #1a1611; }
  .color-tertiary-2.dark {
    background-color: #4d4132; }
  .color-tertiary-2.semi-dark {
    background-color: #b39774; }
  .color-tertiary-2.gradient {
    background: linear-gradient(135deg, #806c53, #4d4132); }
  .color-tertiary-2.dark-trans {
    background-color: rgba(77, 65, 50, 0.5); }

.color-tertiary-3 {
  background-color: #69A2BF; }
  .color-tertiary-3.extra-light {
    background-color: rgba(105, 162, 191, 0.1); }
  .color-tertiary-3.light {
    background-color: rgba(105, 162, 191, 0.3); }
  .color-tertiary-3.semi-light {
    background-color: rgba(105, 162, 191, 0.7); }
  .color-tertiary-3.extra-dark {
    background-color: #0b1013; }
  .color-tertiary-3.dark {
    background-color: #203139; }
  .color-tertiary-3.semi-dark {
    background-color: #4a7186; }
  .color-tertiary-3.gradient {
    background: linear-gradient(135deg, #355160, #203139); }
  .color-tertiary-3.dark-trans {
    background-color: rgba(32, 49, 57, 0.5); }

.font-primary {
  color: set-text-color(#BF9969); }

.font-secondary {
  color: set-text-color(#285973); }

.font-tertiary-1 {
  color: set-text-color(#735733); }

.font-tertiary-2 {
  color: set-text-color(#FFD8A6); }

.font-tertiary-3 {
  color: set-text-color(#69A2BF); }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #285973; }

h1, h2, h3, h5 {
  font-family: 'Droid Serif', Helvetica, serif;
  font-weight: normal; }

h1 {
  font-size: 42px;
  line-height: 54px;
  color: #F8F4F0; }

h2 {
  font-size: 36px;
  line-height: 48px;
  color: #285973; }

h3 {
  font-size: 24px;
  line-height: 32px;
  color: #F8F4F0; }

h4 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  color: #285973; }

p {
  font-family: 'Lato', Helvetica, sans-serif; }

ul, ol {
  margin-left: 30px; }
  ul li, ol li {
    font-size: 20px;
    line-height: 32px; }

label {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase; }

.gradient h2, .gradient h3, .gradient h4, .gradient h5, .gradient h6, .gradient p, .gradient li {
  color: #F8F4F0; }

/*
Theme Name: K5
Theme URI: https://wordpress.com/themes/shoreditch/
Template: shoreditch
Description: Shoreditch is a functional and responsive theme perfect for your business’s online presence. Although its main purpose is business, Shoreditch looks great as a personal blog theme too.
Version: 1.1.1
Author: Automattic
Author URI: https://wordpress.com/themes/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: shoreditch
Tags: two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, rtl-language-support, sticky-post, theme-options, translation-ready, blog, education
*/
.hentry {
  border-bottom: none;
  margin: 0;
  padding-top: 0; }
  .hentry + .hentry {
    margin-top: 0; }

.page-template-panel-page .hentry.has-post-thumbnail {
  text-shadow: none; }

.page-template-panel-page .hentry + .has-post-thumbnail {
  margin-top: 0; }

.entry-header .entry-title {
  display: none; }

.entry-hero-wrapper, .hentry-wrapper, .site-content-wrapper, .site-footer-wrapper, .site-header-wrapper, .site-content-wrapper .has-post-thumbnail .entry-header-wrapper, .widget-area-wrapper {
  margin: 0 16px;
  max-width: none;
  width: auto; }

.featured-content .hentry.has-post-thumbnail .button.button-tertiary-2:hover, .featured-content .home-hero .home-form
.page-template-panel-page .hentry.has-post-thumbnail .button.wpcf7-submit:hover, .featured-content .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit:hover, .home-hero .home-form .featured-content .hentry.has-post-thumbnail .button.wpcf7-submit:hover, .featured-content .hentry.has-post-thumbnail .button.button-tertiary-2:active, .featured-content .home-hero .home-form
.page-template-panel-page .hentry.has-post-thumbnail .button.wpcf7-submit:active, .featured-content .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit:active, .home-hero .home-form .featured-content .hentry.has-post-thumbnail .button.wpcf7-submit:active, .featured-content .hentry.has-post-thumbnail .button.button-tertiary-2:focus, .featured-content .home-hero .home-form
.page-template-panel-page .hentry.has-post-thumbnail .button.wpcf7-submit:focus, .featured-content .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit:focus, .home-hero .home-form .featured-content .hentry.has-post-thumbnail .button.wpcf7-submit:focus,
.page-template-panel-page .home-hero .home-form .featured-content .hentry.has-post-thumbnail .button.wpcf7-submit:hover, .page-template-panel-page .hentry.has-post-thumbnail .button.button-tertiary-2:hover,
.page-template-panel-page .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit:hover, .home-hero .home-form
.page-template-panel-page .hentry.has-post-thumbnail .button.wpcf7-submit:hover,
.page-template-panel-page .home-hero .home-form .featured-content .hentry.has-post-thumbnail .button.wpcf7-submit:active, .page-template-panel-page .hentry.has-post-thumbnail .button.button-tertiary-2:active,
.page-template-panel-page .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit:active, .home-hero .home-form
.page-template-panel-page .hentry.has-post-thumbnail .button.wpcf7-submit:active,
.page-template-panel-page .home-hero .home-form .featured-content .hentry.has-post-thumbnail .button.wpcf7-submit:focus, .page-template-panel-page .hentry.has-post-thumbnail .button.button-tertiary-2:focus,
.page-template-panel-page .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit:focus, .home-hero .home-form
.page-template-panel-page .hentry.has-post-thumbnail .button.wpcf7-submit:focus {
  color: #030303; }

.featured-content .hentry.has-post-thumbnail .button,
.page-template-panel-page .hentry.has-post-thumbnail .button,
.comment-content a.button,
.comment-reply-title small a.button,
.entry-content a.button,
.entry-summary a.button,
.logged-in-as a.button,
.pingback .comment-body > a.button,
.site-info a.button,
.site-info a.button,
.taxonomy-description a {
  box-shadow: 0 1px 3px 2px rgba(3, 3, 3, 0.3); }
  .featured-content .hentry.has-post-thumbnail .button:hover, .featured-content .hentry.has-post-thumbnail .button:active, .featured-content .hentry.has-post-thumbnail .button:focus,
  .page-template-panel-page .hentry.has-post-thumbnail .button:hover,
  .page-template-panel-page .hentry.has-post-thumbnail .button:active,
  .page-template-panel-page .hentry.has-post-thumbnail .button:focus,
  .comment-content a.button:hover,
  .comment-content a.button:active,
  .comment-content a.button:focus,
  .comment-reply-title small a.button:hover,
  .comment-reply-title small a.button:active,
  .comment-reply-title small a.button:focus,
  .entry-content a.button:hover,
  .entry-content a.button:active,
  .entry-content a.button:focus,
  .entry-summary a.button:hover,
  .entry-summary a.button:active,
  .entry-summary a.button:focus,
  .logged-in-as a.button:hover,
  .logged-in-as a.button:active,
  .logged-in-as a.button:focus,
  .pingback .comment-body > a.button:hover,
  .pingback .comment-body > a.button:active,
  .pingback .comment-body > a.button:focus,
  .site-info a.button:hover,
  .site-info a.button:active,
  .site-info a.button:focus,
  .site-info a.button:hover,
  .site-info a.button:active,
  .site-info a.button:focus,
  .taxonomy-description a:hover,
  .taxonomy-description a:active,
  .taxonomy-description a:focus {
    box-shadow: none; }

@media (min-width: 600px) {
  .hentry {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    margin: 0; }
  .entry-hero-wrapper, .hentry-wrapper, .site-content-wrapper .has-post-thumbnail .entry-header-wrapper, .site-footer-wrapper, .site-header-wrapper, .widget-area-wrapper {
    width: auto;
    padding: 0 16px;
    margin: 0 auto; } }

@media (min-width: 896px) {
  .hentry {
    padding-bottom: 0;
    padding-top: 0; } }

@media (min-width: 1020px) {
  .hentry {
    padding-bottom: 0;
    padding-top: 0; } }

@media (min-width: 1200px) {
  .entry-hero-wrapper,
  .hentry-wrapper,
  .site-content-wrapper .has-post-thumbnail .entry-header-wrapper,
  .site-footer-wrapper,
  .site-header-wrapper,
  .widget-area-wrapper {
    width: 1170px;
    max-width: none; } }

.grid-xs_col1, .grid-xs_col2, .grid-xs_col3, .grid-xs_col4, .grid-xs_col5, .grid-xs_col6, .grid-xs_col7, .grid-xs_col8, .grid-xs_col9, .grid-xs_col10, .grid-xs_col11, .grid-xs_col12, .grid-sm_col1, .grid-sm_col2, .grid-sm_col3, .grid-sm_col4, .grid-sm_col5, .grid-sm_col6, .grid-sm_col7, .grid-sm_col8, .grid-sm_col9, .grid-sm_col10, .grid-sm_col11, .grid-sm_col12, .grid-md_col1, .grid-md_col2, .grid-md_col3, .grid-md_col4, .grid-md_col5, .grid-md_col6, .grid-md_col7, .grid-md_col8, .grid-md_col9, .grid-md_col10, .grid-md_col11, .grid-md_col12, .grid-df_col1, .grid-df_col2, .grid-df_col3, .grid-df_col4, .grid-df_col5, .grid-df_col6, .grid-df_col7, .grid-df_col8, .grid-df_col9, .grid-df_col10, .grid-df_col11, .grid-df_col12, .grid-lg_col1, .grid-lg_col2, .grid-lg_col3, .grid-lg_col4, .grid-lg_col5, .grid-lg_col6, .grid-lg_col7, .grid-lg_col8, .grid-lg_col9, .grid-lg_col10, .grid-lg_col11, .grid-lg_col12, .grid-xl_col1, .grid-xl_col2, .grid-xl_col3, .grid-xl_col4, .grid-xl_col5, .grid-xl_col6, .grid-xl_col7, .grid-xl_col8, .grid-xl_col9, .grid-xl_col10, .grid-xl_col11, .grid-xl_col12, .grid-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; }

.grid-xs_col1, .grid-xs_col2, .grid-xs_col3, .grid-xs_col4, .grid-xs_col5, .grid-xs_col6, .grid-xs_col7, .grid-xs_col8, .grid-xs_col9, .grid-xs_col10, .grid-xs_col11, .grid-xs_col12, .grid-sm_col1, .grid-sm_col2, .grid-sm_col3, .grid-sm_col4, .grid-sm_col5, .grid-sm_col6, .grid-sm_col7, .grid-sm_col8, .grid-sm_col9, .grid-sm_col10, .grid-sm_col11, .grid-sm_col12, .grid-md_col1, .grid-md_col2, .grid-md_col3, .grid-md_col4, .grid-md_col5, .grid-md_col6, .grid-md_col7, .grid-md_col8, .grid-md_col9, .grid-md_col10, .grid-md_col11, .grid-md_col12, .grid-df_col1, .grid-df_col2, .grid-df_col3, .grid-df_col4, .grid-df_col5, .grid-df_col6, .grid-df_col7, .grid-df_col8, .grid-df_col9, .grid-df_col10, .grid-df_col11, .grid-df_col12, .grid-lg_col1, .grid-lg_col2, .grid-lg_col3, .grid-lg_col4, .grid-lg_col5, .grid-lg_col6, .grid-lg_col7, .grid-lg_col8, .grid-lg_col9, .grid-lg_col10, .grid-lg_col11, .grid-lg_col12, .grid-xl_col1, .grid-xl_col2, .grid-xl_col3, .grid-xl_col4, .grid-xl_col5, .grid-xl_col6, .grid-xl_col7, .grid-xl_col8, .grid-xl_col9, .grid-xl_col10, .grid-xl_col11, .grid-xl_col12 {
  padding: 0;
  margin: 0 0 8px 0; }
  @media (min-width: 896px) {
    .grid-xs_col1, .grid-xs_col2, .grid-xs_col3, .grid-xs_col4, .grid-xs_col5, .grid-xs_col6, .grid-xs_col7, .grid-xs_col8, .grid-xs_col9, .grid-xs_col10, .grid-xs_col11, .grid-xs_col12, .grid-sm_col1, .grid-sm_col2, .grid-sm_col3, .grid-sm_col4, .grid-sm_col5, .grid-sm_col6, .grid-sm_col7, .grid-sm_col8, .grid-sm_col9, .grid-sm_col10, .grid-sm_col11, .grid-sm_col12, .grid-md_col1, .grid-md_col2, .grid-md_col3, .grid-md_col4, .grid-md_col5, .grid-md_col6, .grid-md_col7, .grid-md_col8, .grid-md_col9, .grid-md_col10, .grid-md_col11, .grid-md_col12, .grid-df_col1, .grid-df_col2, .grid-df_col3, .grid-df_col4, .grid-df_col5, .grid-df_col6, .grid-df_col7, .grid-df_col8, .grid-df_col9, .grid-df_col10, .grid-df_col11, .grid-df_col12, .grid-lg_col1, .grid-lg_col2, .grid-lg_col3, .grid-lg_col4, .grid-lg_col5, .grid-lg_col6, .grid-lg_col7, .grid-lg_col8, .grid-lg_col9, .grid-lg_col10, .grid-lg_col11, .grid-lg_col12, .grid-xl_col1, .grid-xl_col2, .grid-xl_col3, .grid-xl_col4, .grid-xl_col5, .grid-xl_col6, .grid-xl_col7, .grid-xl_col8, .grid-xl_col9, .grid-xl_col10, .grid-xl_col11, .grid-xl_col12 {
      margin: 0 0 16px; } }

.grid-gutter {
  padding: 0 8px; }

.grid-xs_col1 {
  max-width: 8.33333%;
  width: 8.33333%;
  flex-basis: 8.33333%; }

.grid-xs_col2 {
  max-width: 16.66667%;
  width: 16.66667%;
  flex-basis: 16.66667%; }

.grid-xs_col3 {
  max-width: 25%;
  width: 25%;
  flex-basis: 25%; }

.grid-xs_col4 {
  max-width: 33.33333%;
  width: 33.33333%;
  flex-basis: 33.33333%; }

.grid-xs_col5 {
  max-width: 41.66667%;
  width: 41.66667%;
  flex-basis: 41.66667%; }

.grid-xs_col6 {
  max-width: 50%;
  width: 50%;
  flex-basis: 50%; }

.grid-xs_col7 {
  max-width: 58.33333%;
  width: 58.33333%;
  flex-basis: 58.33333%; }

.grid-xs_col8 {
  max-width: 66.66667%;
  width: 66.66667%;
  flex-basis: 66.66667%; }

.grid-xs_col9 {
  max-width: 75%;
  width: 75%;
  flex-basis: 75%; }

.grid-xs_col10 {
  max-width: 83.33333%;
  width: 83.33333%;
  flex-basis: 83.33333%; }

.grid-xs_col11 {
  max-width: 91.66667%;
  width: 91.66667%;
  flex-basis: 91.66667%; }

.grid-xs_col12 {
  max-width: 100%;
  width: 100%;
  flex-basis: 100%; }

.grid-xs_offset_0 {
  margin-left: 0%; }

.grid-xs_offset_1 {
  margin-left: 8.33333%; }

.grid-xs_offset_2 {
  margin-left: 16.66667%; }

.grid-xs_offset_3 {
  margin-left: 25%; }

.grid-xs_offset_4 {
  margin-left: 33.33333%; }

.grid-xs_offset_5 {
  margin-left: 41.66667%; }

.grid-xs_offset_6 {
  margin-left: 50%; }

.grid-xs_offset_7 {
  margin-left: 58.33333%; }

.grid-xs_offset_8 {
  margin-left: 66.66667%; }

.grid-xs_offset_9 {
  margin-left: 75%; }

.grid-xs_offset_10 {
  margin-left: 83.33333%; }

.grid-xs_offset_11 {
  margin-left: 91.66667%; }

.grid-xs_row {
  flex-direction: row; }

.grid-xs_column {
  flex-direction: column; }

.grid-xs_rowreverse {
  flex-direction: row-reverse; }

.grid-xs_columnreverse {
  flex-direction: column-reverse; }

.grid-xs_justifycenter {
  justify-content: center; }

.grid-xs_justifystart {
  justify-content: flex-start; }

.grid-xs_justifyend {
  justify-content: flex-end; }

.grid-xs_justifyright {
  justify-content: right; }

.grid-xs_justifyleft {
  justify-content: left; }

.grid-xs_justifybaseline {
  justify-content: baseline; }

.grid-xs_justifybetween {
  justify-content: space-between; }

.grid-xs_justifyaround {
  justify-content: space-around; }

.grid-xs_justifyeven {
  justify-content: space-evenly; }

.grid-xs_justifystretch {
  justify-content: stretch; }

.grid-xs_alignitemscenter {
  align-items: center; }

.grid-xs_alignitemsstart {
  align-items: flex-start; }

.grid-xs_alignitemsend {
  align-items: flex-end; }

.grid-xs_alignitemsright {
  align-items: right; }

.grid-xs_alignitemsleft {
  align-items: left; }

.grid-xs_alignitemsbaseline {
  align-items: baseline; }

.grid-xs_alignselfcenter {
  align-items: center; }

.grid-xs_alignselfstart {
  align-items: flex-start; }

.grid-xs_alignselfend {
  align-items: flex-end; }

.grid-xs_alignselfright {
  align-items: right; }

.grid-xs_alignselfleft {
  align-items: left; }

.grid-xs_alignselfbaseline {
  align-items: baseline; }

.grid-xs_nowrap {
  flex-wrap: nowrap; }

.grid-xs_wrap {
  flex-wrap: wrap; }

.grid-xs_wrapreverse {
  flex-wrap: wrap-reverse; }

@media (min-width: 600px) {
  .grid-sm_col1 {
    max-width: 8.33333%;
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .grid-sm_col2 {
    max-width: 16.66667%;
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .grid-sm_col3 {
    max-width: 25%;
    width: 25%;
    flex-basis: 25%; }
  .grid-sm_col4 {
    max-width: 33.33333%;
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .grid-sm_col5 {
    max-width: 41.66667%;
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .grid-sm_col6 {
    max-width: 50%;
    width: 50%;
    flex-basis: 50%; }
  .grid-sm_col7 {
    max-width: 58.33333%;
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .grid-sm_col8 {
    max-width: 66.66667%;
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .grid-sm_col9 {
    max-width: 75%;
    width: 75%;
    flex-basis: 75%; }
  .grid-sm_col10 {
    max-width: 83.33333%;
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .grid-sm_col11 {
    max-width: 91.66667%;
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .grid-sm_col12 {
    max-width: 100%;
    width: 100%;
    flex-basis: 100%; }
  .grid-sm_offset_0 {
    margin-left: 0%; }
  .grid-sm_offset_1 {
    margin-left: 8.33333%; }
  .grid-sm_offset_2 {
    margin-left: 16.66667%; }
  .grid-sm_offset_3 {
    margin-left: 25%; }
  .grid-sm_offset_4 {
    margin-left: 33.33333%; }
  .grid-sm_offset_5 {
    margin-left: 41.66667%; }
  .grid-sm_offset_6 {
    margin-left: 50%; }
  .grid-sm_offset_7 {
    margin-left: 58.33333%; }
  .grid-sm_offset_8 {
    margin-left: 66.66667%; }
  .grid-sm_offset_9 {
    margin-left: 75%; }
  .grid-sm_offset_10 {
    margin-left: 83.33333%; }
  .grid-sm_offset_11 {
    margin-left: 91.66667%; }
  .grid-sm_row {
    flex-direction: row; }
  .grid-sm_column {
    flex-direction: column; }
  .grid-sm_rowreverse {
    flex-direction: row-reverse; }
  .grid-sm_columnreverse {
    flex-direction: column-reverse; }
  .grid-sm_justifycenter {
    justify-content: center; }
  .grid-sm_justifystart {
    justify-content: flex-start; }
  .grid-sm_justifyend {
    justify-content: flex-end; }
  .grid-sm_justifyright {
    justify-content: right; }
  .grid-sm_justifyleft {
    justify-content: left; }
  .grid-sm_justifybaseline {
    justify-content: baseline; }
  .grid-sm_justifybetween {
    justify-content: space-between; }
  .grid-sm_justifyaround {
    justify-content: space-around; }
  .grid-sm_justifyeven {
    justify-content: space-evenly; }
  .grid-sm_justifystretch {
    justify-content: stretch; }
  .grid-sm_alignitemscenter {
    align-items: center; }
  .grid-sm_alignitemsstart {
    align-items: flex-start; }
  .grid-sm_alignitemsend {
    align-items: flex-end; }
  .grid-sm_alignitemsright {
    align-items: right; }
  .grid-sm_alignitemsleft {
    align-items: left; }
  .grid-sm_alignitemsbaseline {
    align-items: baseline; }
  .grid-sm_alignselfcenter {
    align-items: center; }
  .grid-sm_alignselfstart {
    align-items: flex-start; }
  .grid-sm_alignselfend {
    align-items: flex-end; }
  .grid-sm_alignselfright {
    align-items: right; }
  .grid-sm_alignselfleft {
    align-items: left; }
  .grid-sm_alignselfbaseline {
    align-items: baseline; }
  .grid-sm_nowrap {
    flex-wrap: nowrap; }
  .grid-sm_wrap {
    flex-wrap: wrap; }
  .grid-sm_wrapreverse {
    flex-wrap: wrap-reverse; } }

@media (min-width: 896px) {
  .grid-md_col1 {
    max-width: 8.33333%;
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .grid-md_col2 {
    max-width: 16.66667%;
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .grid-md_col3 {
    max-width: 25%;
    width: 25%;
    flex-basis: 25%; }
  .grid-md_col4 {
    max-width: 33.33333%;
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .grid-md_col5 {
    max-width: 41.66667%;
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .grid-md_col6 {
    max-width: 50%;
    width: 50%;
    flex-basis: 50%; }
  .grid-md_col7 {
    max-width: 58.33333%;
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .grid-md_col8 {
    max-width: 66.66667%;
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .grid-md_col9 {
    max-width: 75%;
    width: 75%;
    flex-basis: 75%; }
  .grid-md_col10 {
    max-width: 83.33333%;
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .grid-md_col11 {
    max-width: 91.66667%;
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .grid-md_col12 {
    max-width: 100%;
    width: 100%;
    flex-basis: 100%; }
  .grid-md_offset_0 {
    margin-left: 0%; }
  .grid-md_offset_1 {
    margin-left: 8.33333%; }
  .grid-md_offset_2 {
    margin-left: 16.66667%; }
  .grid-md_offset_3 {
    margin-left: 25%; }
  .grid-md_offset_4 {
    margin-left: 33.33333%; }
  .grid-md_offset_5 {
    margin-left: 41.66667%; }
  .grid-md_offset_6 {
    margin-left: 50%; }
  .grid-md_offset_7 {
    margin-left: 58.33333%; }
  .grid-md_offset_8 {
    margin-left: 66.66667%; }
  .grid-md_offset_9 {
    margin-left: 75%; }
  .grid-md_offset_10 {
    margin-left: 83.33333%; }
  .grid-md_offset_11 {
    margin-left: 91.66667%; }
  .grid-md_row {
    flex-direction: row; }
  .grid-md_column {
    flex-direction: column; }
  .grid-md_rowreverse {
    flex-direction: row-reverse; }
  .grid-md_columnreverse {
    flex-direction: column-reverse; }
  .grid-md_justifycenter {
    justify-content: center; }
  .grid-md_justifystart {
    justify-content: flex-start; }
  .grid-md_justifyend {
    justify-content: flex-end; }
  .grid-md_justifyright {
    justify-content: right; }
  .grid-md_justifyleft {
    justify-content: left; }
  .grid-md_justifybaseline {
    justify-content: baseline; }
  .grid-md_justifybetween {
    justify-content: space-between; }
  .grid-md_justifyaround {
    justify-content: space-around; }
  .grid-md_justifyeven {
    justify-content: space-evenly; }
  .grid-md_justifystretch {
    justify-content: stretch; }
  .grid-md_alignitemscenter {
    align-items: center; }
  .grid-md_alignitemsstart {
    align-items: flex-start; }
  .grid-md_alignitemsend {
    align-items: flex-end; }
  .grid-md_alignitemsright {
    align-items: right; }
  .grid-md_alignitemsleft {
    align-items: left; }
  .grid-md_alignitemsbaseline {
    align-items: baseline; }
  .grid-md_alignselfcenter {
    align-items: center; }
  .grid-md_alignselfstart {
    align-items: flex-start; }
  .grid-md_alignselfend {
    align-items: flex-end; }
  .grid-md_alignselfright {
    align-items: right; }
  .grid-md_alignselfleft {
    align-items: left; }
  .grid-md_alignselfbaseline {
    align-items: baseline; }
  .grid-md_nowrap {
    flex-wrap: nowrap; }
  .grid-md_wrap {
    flex-wrap: wrap; }
  .grid-md_wrapreverse {
    flex-wrap: wrap-reverse; } }

@media (min-width: 769px) {
  .grid-df_col1 {
    max-width: 8.33333%;
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .grid-df_col2 {
    max-width: 16.66667%;
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .grid-df_col3 {
    max-width: 25%;
    width: 25%;
    flex-basis: 25%; }
  .grid-df_col4 {
    max-width: 33.33333%;
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .grid-df_col5 {
    max-width: 41.66667%;
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .grid-df_col6 {
    max-width: 50%;
    width: 50%;
    flex-basis: 50%; }
  .grid-df_col7 {
    max-width: 58.33333%;
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .grid-df_col8 {
    max-width: 66.66667%;
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .grid-df_col9 {
    max-width: 75%;
    width: 75%;
    flex-basis: 75%; }
  .grid-df_col10 {
    max-width: 83.33333%;
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .grid-df_col11 {
    max-width: 91.66667%;
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .grid-df_col12 {
    max-width: 100%;
    width: 100%;
    flex-basis: 100%; }
  .grid-df_offset_0 {
    margin-left: 0%; }
  .grid-df_offset_1 {
    margin-left: 8.33333%; }
  .grid-df_offset_2 {
    margin-left: 16.66667%; }
  .grid-df_offset_3 {
    margin-left: 25%; }
  .grid-df_offset_4 {
    margin-left: 33.33333%; }
  .grid-df_offset_5 {
    margin-left: 41.66667%; }
  .grid-df_offset_6 {
    margin-left: 50%; }
  .grid-df_offset_7 {
    margin-left: 58.33333%; }
  .grid-df_offset_8 {
    margin-left: 66.66667%; }
  .grid-df_offset_9 {
    margin-left: 75%; }
  .grid-df_offset_10 {
    margin-left: 83.33333%; }
  .grid-df_offset_11 {
    margin-left: 91.66667%; }
  .grid-df_row {
    flex-direction: row; }
  .grid-df_column {
    flex-direction: column; }
  .grid-df_rowreverse {
    flex-direction: row-reverse; }
  .grid-df_columnreverse {
    flex-direction: column-reverse; }
  .grid-df_justifycenter {
    justify-content: center; }
  .grid-df_justifystart {
    justify-content: flex-start; }
  .grid-df_justifyend {
    justify-content: flex-end; }
  .grid-df_justifyright {
    justify-content: right; }
  .grid-df_justifyleft {
    justify-content: left; }
  .grid-df_justifybaseline {
    justify-content: baseline; }
  .grid-df_justifybetween {
    justify-content: space-between; }
  .grid-df_justifyaround {
    justify-content: space-around; }
  .grid-df_justifyeven {
    justify-content: space-evenly; }
  .grid-df_justifystretch {
    justify-content: stretch; }
  .grid-df_alignitemscenter {
    align-items: center; }
  .grid-df_alignitemsstart {
    align-items: flex-start; }
  .grid-df_alignitemsend {
    align-items: flex-end; }
  .grid-df_alignitemsright {
    align-items: right; }
  .grid-df_alignitemsleft {
    align-items: left; }
  .grid-df_alignitemsbaseline {
    align-items: baseline; }
  .grid-df_alignselfcenter {
    align-items: center; }
  .grid-df_alignselfstart {
    align-items: flex-start; }
  .grid-df_alignselfend {
    align-items: flex-end; }
  .grid-df_alignselfright {
    align-items: right; }
  .grid-df_alignselfleft {
    align-items: left; }
  .grid-df_alignselfbaseline {
    align-items: baseline; }
  .grid-df_nowrap {
    flex-wrap: nowrap; }
  .grid-df_wrap {
    flex-wrap: wrap; }
  .grid-df_wrapreverse {
    flex-wrap: wrap-reverse; } }

@media (min-width: 1020px) {
  .grid-lg_col1 {
    max-width: 8.33333%;
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .grid-lg_col2 {
    max-width: 16.66667%;
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .grid-lg_col3 {
    max-width: 25%;
    width: 25%;
    flex-basis: 25%; }
  .grid-lg_col4 {
    max-width: 33.33333%;
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .grid-lg_col5 {
    max-width: 41.66667%;
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .grid-lg_col6 {
    max-width: 50%;
    width: 50%;
    flex-basis: 50%; }
  .grid-lg_col7 {
    max-width: 58.33333%;
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .grid-lg_col8 {
    max-width: 66.66667%;
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .grid-lg_col9 {
    max-width: 75%;
    width: 75%;
    flex-basis: 75%; }
  .grid-lg_col10 {
    max-width: 83.33333%;
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .grid-lg_col11 {
    max-width: 91.66667%;
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .grid-lg_col12 {
    max-width: 100%;
    width: 100%;
    flex-basis: 100%; }
  .grid-lg_offset_0 {
    margin-left: 0%; }
  .grid-lg_offset_1 {
    margin-left: 8.33333%; }
  .grid-lg_offset_2 {
    margin-left: 16.66667%; }
  .grid-lg_offset_3 {
    margin-left: 25%; }
  .grid-lg_offset_4 {
    margin-left: 33.33333%; }
  .grid-lg_offset_5 {
    margin-left: 41.66667%; }
  .grid-lg_offset_6 {
    margin-left: 50%; }
  .grid-lg_offset_7 {
    margin-left: 58.33333%; }
  .grid-lg_offset_8 {
    margin-left: 66.66667%; }
  .grid-lg_offset_9 {
    margin-left: 75%; }
  .grid-lg_offset_10 {
    margin-left: 83.33333%; }
  .grid-lg_offset_11 {
    margin-left: 91.66667%; }
  .grid-lg_row {
    flex-direction: row; }
  .grid-lg_column {
    flex-direction: column; }
  .grid-lg_rowreverse {
    flex-direction: row-reverse; }
  .grid-lg_columnreverse {
    flex-direction: column-reverse; }
  .grid-lg_justifycenter {
    justify-content: center; }
  .grid-lg_justifystart {
    justify-content: flex-start; }
  .grid-lg_justifyend {
    justify-content: flex-end; }
  .grid-lg_justifyright {
    justify-content: right; }
  .grid-lg_justifyleft {
    justify-content: left; }
  .grid-lg_justifybaseline {
    justify-content: baseline; }
  .grid-lg_justifybetween {
    justify-content: space-between; }
  .grid-lg_justifyaround {
    justify-content: space-around; }
  .grid-lg_justifyeven {
    justify-content: space-evenly; }
  .grid-lg_justifystretch {
    justify-content: stretch; }
  .grid-lg_alignitemscenter {
    align-items: center; }
  .grid-lg_alignitemsstart {
    align-items: flex-start; }
  .grid-lg_alignitemsend {
    align-items: flex-end; }
  .grid-lg_alignitemsright {
    align-items: right; }
  .grid-lg_alignitemsleft {
    align-items: left; }
  .grid-lg_alignitemsbaseline {
    align-items: baseline; }
  .grid-lg_alignselfcenter {
    align-items: center; }
  .grid-lg_alignselfstart {
    align-items: flex-start; }
  .grid-lg_alignselfend {
    align-items: flex-end; }
  .grid-lg_alignselfright {
    align-items: right; }
  .grid-lg_alignselfleft {
    align-items: left; }
  .grid-lg_alignselfbaseline {
    align-items: baseline; }
  .grid-lg_nowrap {
    flex-wrap: nowrap; }
  .grid-lg_wrap {
    flex-wrap: wrap; }
  .grid-lg_wrapreverse {
    flex-wrap: wrap-reverse; } }

@media (min-width: 1200px) {
  .grid-xl_col1 {
    max-width: 8.33333%;
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .grid-xl_col2 {
    max-width: 16.66667%;
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .grid-xl_col3 {
    max-width: 25%;
    width: 25%;
    flex-basis: 25%; }
  .grid-xl_col4 {
    max-width: 33.33333%;
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .grid-xl_col5 {
    max-width: 41.66667%;
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .grid-xl_col6 {
    max-width: 50%;
    width: 50%;
    flex-basis: 50%; }
  .grid-xl_col7 {
    max-width: 58.33333%;
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .grid-xl_col8 {
    max-width: 66.66667%;
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .grid-xl_col9 {
    max-width: 75%;
    width: 75%;
    flex-basis: 75%; }
  .grid-xl_col10 {
    max-width: 83.33333%;
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .grid-xl_col11 {
    max-width: 91.66667%;
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .grid-xl_col12 {
    max-width: 100%;
    width: 100%;
    flex-basis: 100%; }
  .grid-xl_offset_0 {
    margin-left: 0%; }
  .grid-xl_offset_1 {
    margin-left: 8.33333%; }
  .grid-xl_offset_2 {
    margin-left: 16.66667%; }
  .grid-xl_offset_3 {
    margin-left: 25%; }
  .grid-xl_offset_4 {
    margin-left: 33.33333%; }
  .grid-xl_offset_5 {
    margin-left: 41.66667%; }
  .grid-xl_offset_6 {
    margin-left: 50%; }
  .grid-xl_offset_7 {
    margin-left: 58.33333%; }
  .grid-xl_offset_8 {
    margin-left: 66.66667%; }
  .grid-xl_offset_9 {
    margin-left: 75%; }
  .grid-xl_offset_10 {
    margin-left: 83.33333%; }
  .grid-xl_offset_11 {
    margin-left: 91.66667%; }
  .grid-xl_row {
    flex-direction: row; }
  .grid-xl_column {
    flex-direction: column; }
  .grid-xl_rowreverse {
    flex-direction: row-reverse; }
  .grid-xl_columnreverse {
    flex-direction: column-reverse; }
  .grid-xl_justifycenter {
    justify-content: center; }
  .grid-xl_justifystart {
    justify-content: flex-start; }
  .grid-xl_justifyend {
    justify-content: flex-end; }
  .grid-xl_justifyright {
    justify-content: right; }
  .grid-xl_justifyleft {
    justify-content: left; }
  .grid-xl_justifybaseline {
    justify-content: baseline; }
  .grid-xl_justifybetween {
    justify-content: space-between; }
  .grid-xl_justifyaround {
    justify-content: space-around; }
  .grid-xl_justifyeven {
    justify-content: space-evenly; }
  .grid-xl_justifystretch {
    justify-content: stretch; }
  .grid-xl_alignitemscenter {
    align-items: center; }
  .grid-xl_alignitemsstart {
    align-items: flex-start; }
  .grid-xl_alignitemsend {
    align-items: flex-end; }
  .grid-xl_alignitemsright {
    align-items: right; }
  .grid-xl_alignitemsleft {
    align-items: left; }
  .grid-xl_alignitemsbaseline {
    align-items: baseline; }
  .grid-xl_alignselfcenter {
    align-items: center; }
  .grid-xl_alignselfstart {
    align-items: flex-start; }
  .grid-xl_alignselfend {
    align-items: flex-end; }
  .grid-xl_alignselfright {
    align-items: right; }
  .grid-xl_alignselfleft {
    align-items: left; }
  .grid-xl_alignselfbaseline {
    align-items: baseline; }
  .grid-xl_nowrap {
    flex-wrap: nowrap; }
  .grid-xl_wrap {
    flex-wrap: wrap; }
  .grid-xl_wrapreverse {
    flex-wrap: wrap-reverse; } }

.grid-nester {
  margin-bottom: 0; }

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  padding: 15px 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  box-shadow: 0 1px 3px 2px rgba(3, 3, 3, 0.3);
  transition: background-color .25s, box-shadow .25s; }
  .button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    box-shadow: none; }
  .button.button-condensed, button.button-condensed, input[type="button"].button-condensed, input[type="reset"].button-condensed, input[type="submit"].button-condensed {
    padding: 9px 30px; }
  .button.button-primary, button.button-primary, input[type="button"].button-primary, input[type="reset"].button-primary, input[type="submit"].button-primary {
    background-color: #BF9969;
    color: #F8F4F0; }
    .button.button-primary:hover, button.button-primary:hover, input[type="button"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="submit"].button-primary:hover {
      background-color: #876c4a; }
    .button.button-primary:active, .button.button-primary:focus, button.button-primary:active, button.button-primary:focus, input[type="button"].button-primary:active, input[type="button"].button-primary:focus, input[type="reset"].button-primary:active, input[type="reset"].button-primary:focus, input[type="submit"].button-primary:active, input[type="submit"].button-primary:focus {
      background-color: #d0b492; }
  .button.button-secondary, button.button-secondary, input[type="button"].button-secondary, input[type="reset"].button-secondary, input[type="submit"].button-secondary {
    background-color: #285973;
    color: #F8F4F0; }
    .button.button-secondary:hover, button.button-secondary:hover, input[type="button"].button-secondary:hover, input[type="reset"].button-secondary:hover, input[type="submit"].button-secondary:hover {
      background-color: #1d3f51; }
    .button.button-secondary:active, .button.button-secondary:focus, button.button-secondary:active, button.button-secondary:focus, input[type="button"].button-secondary:active, input[type="button"].button-secondary:focus, input[type="reset"].button-secondary:active, input[type="reset"].button-secondary:focus, input[type="submit"].button-secondary:active, input[type="submit"].button-secondary:focus {
      background-color: #668899; }
  .button.button-tertiary-1, button.button-tertiary-1, input[type="button"].button-tertiary-1, input[type="reset"].button-tertiary-1, input[type="submit"].button-tertiary-1 {
    background-color: #735733;
    color: #F8F4F0; }
    .button.button-tertiary-1:hover, button.button-tertiary-1:hover, input[type="button"].button-tertiary-1:hover, input[type="reset"].button-tertiary-1:hover, input[type="submit"].button-tertiary-1:hover {
      background-color: #513e25; }
    .button.button-tertiary-1:active, .button.button-tertiary-1:focus, button.button-tertiary-1:active, button.button-tertiary-1:focus, input[type="button"].button-tertiary-1:active, input[type="button"].button-tertiary-1:focus, input[type="reset"].button-tertiary-1:active, input[type="reset"].button-tertiary-1:focus, input[type="submit"].button-tertiary-1:active, input[type="submit"].button-tertiary-1:focus {
      background-color: #9b866c; }
  .button.button-tertiary-2, .featured-content .hentry.has-post-thumbnail .button.button-tertiary-2, .featured-content .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit, .home-hero .home-form .featured-content .hentry.has-post-thumbnail .button.wpcf7-submit,
  .page-template-panel-page .hentry.has-post-thumbnail .button.button-tertiary-2,
  .page-template-panel-page .hentry.has-post-thumbnail .home-hero .home-form .button.wpcf7-submit, .home-hero .home-form
  .page-template-panel-page .hentry.has-post-thumbnail .button.wpcf7-submit, .home-hero .home-form .button.wpcf7-submit, button.button-tertiary-2, .home-hero .home-form button.wpcf7-submit, input[type="button"].button-tertiary-2, .home-hero .home-form input[type="button"].wpcf7-submit, input[type="reset"].button-tertiary-2, .home-hero .home-form input[type="reset"].wpcf7-submit, input[type="submit"].button-tertiary-2, .home-hero .home-form input[type="submit"].wpcf7-submit {
    background-color: #FFD8A6;
    color: #030303; }
    .button.button-tertiary-2:hover, .featured-content .hentry.has-post-thumbnail .button.button-tertiary-2:hover,
    .page-template-panel-page .hentry.has-post-thumbnail .button.button-tertiary-2:hover, .home-hero .home-form .button.wpcf7-submit:hover, button.button-tertiary-2:hover, .home-hero .home-form button.wpcf7-submit:hover, input[type="button"].button-tertiary-2:hover, .home-hero .home-form input[type="button"].wpcf7-submit:hover, input[type="reset"].button-tertiary-2:hover, .home-hero .home-form input[type="reset"].wpcf7-submit:hover, input[type="submit"].button-tertiary-2:hover, .home-hero .home-form input[type="submit"].wpcf7-submit:hover {
      background-color: #b39875; }
    .button.button-tertiary-2:active, .featured-content .hentry.has-post-thumbnail .button.button-tertiary-2:active,
    .page-template-panel-page .hentry.has-post-thumbnail .button.button-tertiary-2:active, .home-hero .home-form .button.wpcf7-submit:active, .button.button-tertiary-2:focus, .featured-content .hentry.has-post-thumbnail .button.button-tertiary-2:focus,
    .page-template-panel-page .hentry.has-post-thumbnail .button.button-tertiary-2:focus, .home-hero .home-form .button.wpcf7-submit:focus, button.button-tertiary-2:active, .home-hero .home-form button.wpcf7-submit:active, button.button-tertiary-2:focus, .home-hero .home-form button.wpcf7-submit:focus, input[type="button"].button-tertiary-2:active, .home-hero .home-form input[type="button"].wpcf7-submit:active, input[type="button"].button-tertiary-2:focus, .home-hero .home-form input[type="button"].wpcf7-submit:focus, input[type="reset"].button-tertiary-2:active, .home-hero .home-form input[type="reset"].wpcf7-submit:active, input[type="reset"].button-tertiary-2:focus, .home-hero .home-form input[type="reset"].wpcf7-submit:focus, input[type="submit"].button-tertiary-2:active, .home-hero .home-form input[type="submit"].wpcf7-submit:active, input[type="submit"].button-tertiary-2:focus, .home-hero .home-form input[type="submit"].wpcf7-submit:focus {
      background-color: #fde0bc; }
  .button.button-tertiary-3, button.button-tertiary-3, input[type="button"].button-tertiary-3, input[type="reset"].button-tertiary-3, input[type="submit"].button-tertiary-3 {
    background-color: #69A2BF;
    color: #F8F4F0; }
    .button.button-tertiary-3:hover, button.button-tertiary-3:hover, input[type="button"].button-tertiary-3:hover, input[type="reset"].button-tertiary-3:hover, input[type="submit"].button-tertiary-3:hover {
      background-color: #4a7287; }
    .button.button-tertiary-3:active, .button.button-tertiary-3:focus, button.button-tertiary-3:active, button.button-tertiary-3:focus, input[type="button"].button-tertiary-3:active, input[type="button"].button-tertiary-3:focus, input[type="reset"].button-tertiary-3:active, input[type="reset"].button-tertiary-3:focus, input[type="submit"].button-tertiary-3:active, input[type="submit"].button-tertiary-3:focus {
      background-color: #94bbce; }

input[type="text"], input[type="email"], input[type="number"] {
  background: rgba(248, 244, 240, 0.8);
  border: 4px solid #644b2b;
  border-radius: 6px;
  transition: background .25s, border .25s, box-shadow .5s; }
  input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover {
    background: #F8F4F0;
    border: 4px solid #BF9969; }
  input[type="text"]:focus, input[type="text"]:active, input[type="email"]:focus, input[type="email"]:active, input[type="number"]:focus, input[type="number"]:active {
    background: #F8F4F0;
    box-shadow: 0 1px 3px 2px rgba(3, 3, 3, 0.3);
    outline: none; }

@font-face {
  font-family: 'icomoon';
  src: url("assets/fonts/icomoon.eot?4ff3x6");
  src: url("assets/fonts/icomoon.eot?4ff3x6#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?4ff3x6") format("truetype"), url("assets/fonts/icomoon.woff?4ff3x6") format("woff"), url("assets/fonts/icomoon.svg?4ff3x6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #F8F4F0;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-garage:before {
  content: "\e900"; }

.icon-key:before {
  content: "\e901"; }

.icon-mail:before {
  content: "\e902"; }

.icon-money:before {
  content: "\e903"; }

.icon-paddle-left:before {
  content: "\e904"; }

.icon-paddle-right:before {
  content: "\e905"; }

.site-main .page:first-child {
  padding-top: 160px; }
  @media (min-width: 896px) {
    .site-main .page:first-child {
      padding-top: 230px; } }
  .site-main .page:first-child .su-row .su-column {
    padding-top: 0; }

.site-content .content-area {
  margin-top: -72px; }

@media (min-width: 896px) {
  .site-content {
    padding-top: 0 !important; }
    .site-content .content-area {
      margin-top: 0; } }

@media (min-width: 769px) {
  .content-bleed {
    display: flex; } }

.content-bleed.su-row {
  margin-left: -16px;
  margin-right: -16px; }
  .content-bleed.su-row .su-column {
    margin-left: 0;
    margin-right: 0; }
    .content-bleed.su-row .su-column:first-child, .content-bleed.su-row .su-column:last-child {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0 !important; }
  .content-bleed.su-row .su-column-size-1-2 {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex; }
  @media (min-width: 769px) {
    .content-bleed.su-row {
      margin-bottom: 0; } }

.back-top {
  background-color: rgba(3, 3, 3, 0.8);
  transition: 0.25s background-color #030303; }
  .back-top:hover {
    background-color: #030303; }

.site-header {
  padding-bottom: 0;
  border-bottom: none;
  background: none;
  z-index: 1;
  position: relative; }
  .site-header .contact-header-wrapper {
    width: 100%;
    background-color: #285973;
    position: relative;
    border-bottom: 4px solid #F8F4F0;
    display: none; }
    @media (min-width: 896px) {
      .site-header .contact-header-wrapper {
        display: block; } }
    .site-header .contact-header-wrapper .header-contact {
      height: 72px;
      padding-right: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #285973; }
      .site-header .contact-header-wrapper .header-contact .button-wrapper {
        display: inline-block; }
      .site-header .contact-header-wrapper .header-contact .contact-email,
      .site-header .contact-header-wrapper .header-contact .contact-phone {
        padding-right: 8px;
        margin: 0 8px;
        color: #F8F4F0;
        font-size: 14px; }
      .site-header .contact-header-wrapper .header-contact .button {
        color: #F8F4F0;
        font-size: 16px;
        display: none; }
        @media (min-width: 896px) {
          .site-header .contact-header-wrapper .header-contact .button {
            display: block; } }
  .site-header .menu-header-wrapper {
    position: relative; }
    .site-header .menu-header-wrapper .site-branding {
      position: absolute;
      bottom: 8px; }
      @media (min-width: 896px) {
        .site-header .menu-header-wrapper .site-branding {
          bottom: 24px;
          left: 16px; } }
      .site-header .menu-header-wrapper .site-branding .custom-logo {
        width: 60px;
        border: 2px solid #F8F4F0;
        border-radius: 50%;
        margin-left: 8px; }
        @media (min-width: 896px) {
          .site-header .menu-header-wrapper .site-branding .custom-logo {
            width: 90px;
            border: 4px solid #F8F4F0;
            border-radius: 50%; } }
    .site-header .menu-header-wrapper .site-menu {
      width: 100%;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .site-header .menu-header-wrapper .site-menu .main-navigation {
        margin-top: 0;
        display: none; }
        @media (min-width: 896px) {
          .site-header .menu-header-wrapper .site-menu .main-navigation {
            display: block; } }
      .site-header .menu-header-wrapper .site-menu .primary-menu a {
        padding: 15px 0;
        border-bottom: none;
        color: #fff; }
    .site-header .menu-header-wrapper .header-contact {
      display: flex;
      justify-content: flex-end; }
    .site-header .menu-header-wrapper .menu-toggle {
      height: 38px;
      width: 57px;
      padding: 0;
      border: none;
      background-image: url("images/hamburger.png");
      background-size: 57px 38px;
      background-color: transparent;
      position: absolute;
      right: 8px;
      bottom: 16px;
      font-size: 0;
      box-shadow: none; }
      @media (min-width: 1020px) {
        .site-header .menu-header-wrapper .menu-toggle {
          display: none; } }

.widget-footer-top-area {
  padding: 64px 0 96px;
  background: url("images/footer.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  font-weight: bold;
  color: #285973; }
  .widget-footer-top-area .widget-title {
    font-weight: bold; }
  .widget-footer-top-area .widget {
    padding: 0; }

.widget-footer-bottom-area {
  padding: 32px 0;
  background: #285973;
  color: #F8F4F0; }
  .widget-footer-bottom-area .widget_text {
    padding: 0; }
  .widget-footer-bottom-area .contact-header {
    text-transform: uppercase;
    margin: 0;
    font-size: 12px; }
  .widget-footer-bottom-area .mobile-link a {
    color: #F8F4F0; }
  .widget-footer-bottom-area .copyright li {
    display: inline-block;
    margin-right: 8px; }
  @media (min-width: 896px) {
    .widget-footer-bottom-area .copyright {
      text-align: right; }
      .widget-footer-bottom-area .copyright li {
        margin: 0;
        display: block; } }
  .widget-footer-bottom-area a {
    color: #F8F4F0; }
    .widget-footer-bottom-area a:hover {
      text-decoration: underline; }
  .widget-footer-bottom-area .footer-list {
    padding: 0;
    margin: 0; }
    .widget-footer-bottom-area .footer-list li {
      list-style-type: none;
      font-size: 12px;
      line-height: 18px; }

.home-hero {
  text-align: center; }
  .home-hero .eyebrow {
    max-width: 580px;
    margin: 0 auto; }
  .home-hero .home-contact {
    padding-top: 40px; }
    @media (min-width: 896px) {
      .home-hero .home-contact {
        padding-top: 184px; } }
  .home-hero .home-form {
    max-width: 795px;
    margin: 0 auto;
    text-align: left; }
    .home-hero .home-form label {
      width: 100%; }
    .home-hero .home-form .wpcf7-submit {
      width: 100%;
      margin-top: 14px; }
  .home-hero .wpcf7 {
    max-width: 795px;
    position: relative;
    margin: 0 auto; }
    .home-hero .wpcf7 .wpcf7-not-valid {
      border-radius: 0;
      border-color: #f00; }
    .home-hero .wpcf7 .wpcf7-not-valid-tip {
      padding: 4px;
      border: 4px solid #f00;
      background: #f00;
      color: #F8F4F0; }
  .home-hero .wpcf7-response-output {
    height: 100%;
    border: none;
    margin: 0;
    top: 0;
    position: absolute;
    align-content: center;
    justify-content: center;
    flex-direction: column; }
    .home-hero .wpcf7-response-output.wpcf7-validation-errors {
      display: none !important; }
    .home-hero .wpcf7-response-output.wpcf7-validation-errors {
      padding: 8px;
      background: rgba(248, 244, 240, 0.8);
      color: #f00; }

.sent .wpcf7-response-output {
  display: flex; }

.sent .home-form {
  visibility: hidden; }

.post-70 .content-bleed {
  position: relative;
  overflow: hidden; }
  .post-70 .content-bleed .home-gallery {
    display: block; }
    @media (max-width: 768px) {
      .post-70 .content-bleed .home-gallery {
        padding: 0; } }
  .post-70 .content-bleed .uris-slider-title {
    display: none; }
  .post-70 .content-bleed .title-in-bg, .post-70 .content-bleed .desc-in-bg {
    height: auto !important;
    margin: 0 !important;
    font-family: 'Lato', Helvetica, sans-serif !important;
    background: none !important;
    text-align: left !important;
    color: #F8F4F0 !important;
    line-height: 32px !important; }
  .post-70 .content-bleed #example3_102 .title-in-bg {
    margin-top: 80px !important;
    margin-left: 32px !important;
    font-size: 24px !important; }
  .post-70 .content-bleed #example3_102 .desc-in-bg {
    margin-bottom: 72px !important;
    margin-left: 32px !important;
    font-size: 20px !important; }
  .post-70 .content-bleed .sp-padding {
    padding: 16px; }
  .post-70 .content-bleed .sp-mask {
    transition: none !important; }
    @media (max-width: 768px) {
      .post-70 .content-bleed .sp-mask {
        max-height: 500px; } }
  .post-70 .content-bleed .sp-image-container {
    position: absolute;
    top: 0; }
  .post-70 .content-bleed .sp-layer {
    margin: none !important;
    position: relative !important;
    top: 0 !important; }
  .post-70 .content-bleed .sp-arrows {
    width: 136px;
    margin-top: 0;
    top: auto;
    left: 32px;
    bottom: 64px; }
  .post-70 .content-bleed .sp-fade-arrows {
    opacity: 1; }
  .post-70 .content-bleed .sp-arrow {
    width: 50px;
    height: 50px;
    transition: background .25s;
    border-radius: 50%;
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-size: 80px;
    color: #FFD8A6; }
    .post-70 .content-bleed .sp-arrow:hover {
      background: rgba(105, 162, 191, 0.5); }
    .post-70 .content-bleed .sp-arrow:after {
      display: none; }
    .post-70 .content-bleed .sp-arrow.sp-previous-arrow:before, .post-70 .content-bleed .sp-arrow.sp-next-arrow:before {
      top: 10px;
      left: -15px;
      transform: none;
      background-color: transparent !important; }
    .post-70 .content-bleed .sp-arrow.sp-previous-arrow {
      left: 0; }
      .post-70 .content-bleed .sp-arrow.sp-previous-arrow:before {
        content: "\e904"; }
    .post-70 .content-bleed .sp-arrow.sp-next-arrow:before {
      content: "\e905"; }
  .post-70 .content-bleed .hide-small-screen {
    display: block !important; }
  @media (min-width: 600px) {
    .post-70 .content-bleed .hide-medium-screen {
      display: block !important; } }
  @media (min-width: 769px) {
    .post-70 .content-bleed .home-gallery {
      height: 100%;
      left: 50%;
      position: absolute;
      display: flex; }
      .post-70 .content-bleed .home-gallery .slider-pro {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .post-70 .content-bleed .home-gallery .sp-slides-container {
        height: 100%; }
      .post-70 .content-bleed .home-gallery .sp-slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
      .post-70 .content-bleed .home-gallery .sp-slides, .post-70 .content-bleed .home-gallery .sp-slide {
        height: 100% !important;
        position: absolute; }
      .post-70 .content-bleed .home-gallery .sp-mask {
        height: 100% !important;
        position: absolute; }
      .post-70 .content-bleed .home-gallery .sp-selected {
        z-index: 1; }
      .post-70 .content-bleed .home-gallery .sp-slide, .post-70 .content-bleed .home-gallery .sp-image-container, .post-70 .content-bleed .home-gallery .sp-image {
        height: 100% !important; }
      .post-70 .content-bleed .home-gallery .sp-image {
        width: auto !important; } }

.post-80.hentry.has-post-thumbnail {
  color: #F8F4F0; }

.post-80 .home-steps {
  padding: 0 32px; }

.post-80 .grid-gutter:last-child .step .icon:after {
  display: none; }

.post-80 .step .icon {
  text-align: center;
  position: relative; }
  @media (min-width: 1020px) {
    .post-80 .step .icon:after {
      font-family: 'icomoon';
      content: "\e905";
      color: #fff;
      font-size: 80px;
      position: absolute;
      top: 22px; }
    .post-80 .step .icon:last-child:after {
      display: none; } }

.post-80 .step [class^="icon-"], .post-80 .step [class*=" icon-"] {
  font-size: 80px;
  text-align: center; }
  .post-80 .step [class^="icon-"]:before, .post-80 .step [class*=" icon-"]:before {
    color: #fff; }

.post-80 .home-process-cta {
  text-align: center; }
  .post-80 .home-process-cta .su-column {
    padding-top: 32px;
    padding-bottom: 96px; }

.post-114 .team-header {
  padding-bottom: 32px; }

.post-114 .team-row {
  padding: 0 16px;
  display: block; }
  .post-114 .team-row .su-column {
    padding: 0 16px 40px; }
  .post-114 .team-row:last-child .su-column {
    padding-bottom: 80px; }
  .post-114 .team-row .katb_test_wrap_basic {
    padding: 0;
    margin: 0;
    position: relative; }
  .post-114 .team-row .katb_test_box_basic {
    padding: 0;
    margin: 0; }
  .post-114 .team-row .katb_title_rating_wrap {
    display: none; }
  .post-114 .team-row .katb_meta_top {
    padding: 32px 8px;
    position: relative; }
    @media (min-width: 896px) {
      .post-114 .team-row .katb_meta_top {
        width: 50%;
        position: absolute;
        left: 50%; } }
  .post-114 .team-row .katb_author, .post-114 .team-row .katb_custom1 {
    text-align: center;
    color: #644b2b; }
  .post-114 .team-row .katb_author {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    text-align: center; }
    .post-114 .team-row .katb_author:before {
      content: '- '; }
  .post-114 .team-row .katb_custom1 {
    font-family: 'Droid Serif', Helvetica, serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    position: relative; }
    .post-114 .team-row .katb_custom1:before {
      margin-left: -18px;
      margin-top: -18px;
      content: '“';
      color: #BF9969;
      position: absolute;
      top: 0;
      left: 50%;
      font-size: 72px; }
  .post-114 .team-row .katb_test_text_basic p, .post-114 .team-row .katb_test_text p {
    line-height: 32px !important;
    font-size: 20px !important; }

.katb_avatar, .katb_widget_avatar, .katb_avatar_round_image, .katb_widget_avatar_round_image {
  width: 100% !important;
  max-width: 218px;
  margin: 0 auto 16px;
  display: block;
  float: none; }
  @media (min-width: 896px) {
    .katb_avatar, .katb_widget_avatar, .katb_avatar_round_image, .katb_widget_avatar_round_image {
      width: 50% !important;
      margin-left: 0; } }

.post-139 .process-row .process-icon {
  order: 1;
  text-align: center; }

.post-139 .process-row .process-content a {
  color: #F8F4F0;
  box-shadow: none; }

.post-139 .process-row:nth-child(odd) .process-content {
  order: 1; }

@media (min-width: 769px) {
  .post-139 .process-row {
    display: flex;
    align-items: center; }
    .post-139 .process-row .process-icon, .post-139 .process-row .process-content {
      display: flex;
      justify-content: center; } }

.post-139 .process-row [class^="icon-"]:before, .post-139 .process-row [class*=" icon-"]:before {
  color: #BF9969;
  font-size: 80px; }
  @media (min-width: 896px) {
    .post-139 .process-row [class^="icon-"]:before, .post-139 .process-row [class*=" icon-"]:before {
      font-size: 160px; } }

.post-150 .process-title {
  padding-bottom: 40px;
  text-align: center; }

.post-150 .process-helped .su-column {
  padding-top: 0; }

/*
*******************
*******************

Changes to the Shortcodes Ultimate [su-**]
need to be kept in the plugin Custom
CSS Panel in the dashboard due to
overriding issues. Maintained in comments:

*******************

.su-row .su-column {
    margin: 0 0 0 1%;
}

.su-column {
    padding: 80px 32px;
}

.su-row {
    margin-bottom: 0;
}

.su-column-size-1-3 {
    width: 32.66%;
}

.su-column-size-2-3 {
    width: 67.33%;
}

.su-column-size-1-4 {
    width: 24%;
}

.su-column-size-3-4 {
    width: 76%;
}

.su-column-size-1-5 {
    width: 18.8%;
}

.su-column-size-2-5 {
    width: 39.6%;
}

.su-column-size-3-5 {
    width: 60.4%;
}

.su-column-size-4-5 {
    width: 81.2%;
}

*******************
*******************
*/
