// header
.site-header {
	background: none;
	border-bottom: none;
	padding-bottom: 0;

	.contact-header-wrapper {
		width: 100%;
		background-color: palette(secondary);
		position: relative;

		.header-contact {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 72px;
			background-color: palette(secondary);
			.button-wrapper {
				display: inline-block;
			}
			.contact-email,
			.contact-phone {
				color: $white;
				margin: 0 8px;
				font-size: 14px;
			}
			.button {
				color: $white;
				// margin: 0;
				font-size: 16px;
			}
		}
	}
	.menu-header-wrapper {
		.site-branding {
			margin-top: 4px;
		}
		.site-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 72px;
			.main-navigation {
				margin-top: 0;
			}
			.primary-menu {
				// justify-content: center;
				a {
					color: white;
					border-bottom: none;
					padding: 15px 0;
				}
			}
		}
		.header-contact {
			display: flex;
			justify-content: flex-end;
		}
	}
}
