// header
.site-header {
	padding-bottom: 0;
	border-bottom: none;
	background: none;
	z-index: 1;
	position: relative;

	.contact-header-wrapper {
		width: 100%;
		background-color: palette(secondary);
		position: relative;
		border-bottom: $gutter/2 solid $white;

		@include breakpoint(xs) {
			display: none;
		}

		@include breakpoint(md) {
			display: block
		}

		.header-contact {
			height: 72px;
			padding-right: $gutter*2;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			background-color: palette(secondary);

			.button-wrapper {
				display: inline-block;
			}

			.contact-email,
			.contact-phone {
				padding: 0 $gutter*2;
				margin: 0;
				color: $white;
				font-size: 14px;
			}

			.contact-email {
				border-right: 1px solid $white;
			}
			.button {
				color: $white;
				font-size: 16px;

				@include breakpoint(xs) {
					display: none;
				}

				@include breakpoint(md) {
					display: block;
				}
			}
		}
	}

	.menu-header-wrapper {
		position: relative;

		.site-branding {
			position: absolute;

			@include breakpoint(md) {
				bottom: $gutter*3;
				left: $gutter*2;
			}

			@include breakpoint(xs) {
				bottom: $gutter;
			}

			.custom-logo {
				@include breakpoint(md) {
					width: 90px;
					border: 4px solid $white;
					border-radius: 50%;
				}

				@include breakpoint(xs) {
					width: 60px;
					border: 2px solid $white;
					border-radius: 50%;
					margin-left: $gutter;

				}
			}
		}

		.site-menu {
				width: 100%;
				height: 72px;
				display: flex;
				justify-content: center;
				align-items: center;

			.main-navigation {
				margin-top: 0;

				@include breakpoint(xs) {
					display: none;
				}

				@include breakpoint(md) {
					display: block;
				}
			}

			.primary-menu {
				a {
					padding: 15px 0;
					border-bottom: none;
					color: $bright-white;
				}
			}
		}

		.header-contact {
			display: flex;
			justify-content: flex-end;
		}

		.menu-toggle {
			@include breakpoint(xs) {
			    height: 38px;
			    width: 57px;
				padding: 0;
				border: none;
				background-image: url("images/hamburger.png");
				background-size: 57px 38px;
				background-color: transparent;
				position: absolute;
				right: $gutter;
				bottom: $gutter*2;
				font-size: 0;
				box-shadow: none;
			}

			@include breakpoint(lg) {
				display: none;
			}
		}
	}
}
