// header element
.site-header {
	padding-bottom: 0;
	border-bottom: none;
	background: none;
	z-index: 1;
	position: relative;

	// custom top nav
	.contact-header-wrapper {
		width: 100%;
		background-color: mix(palette(secondary), black, 70%);
		position: relative;

		@include breakpoint(xs) {
			height: 0;
		}

		@include breakpoint(md) {
			height: 76px;
			display: block;
			border-bottom: $gutter/2 solid $white;
		}

		.header-contact {
			position: relative;
			height: 72px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			max-width: 1200px;
			margin: 0 auto;

			.button-wrapper {
				display: inline-block;
				margin-right: $gutter;
			}

			.contact-email,
			.contact-phone {
				@include breakpoint(xs) {
					display: none;
				}

				@include breakpoint(md) {
					display: block;
					padding: 0 $gutter*2;
					margin: 0;
					color: $white;
					font-size: 14px;
				}
			}

			.contact-email {
				border-right: 1px solid $white;
			}

			.button {
				display: none;

				@include breakpoint(md) {
					display: block;
				}
			}

			.site-branding {
				@include breakpoint(xs) {
					top: 0;
					position: absolute;
					z-index: 1;
					left: 0;
					margin: 0 $gutter;;
				}
				@include breakpoint(md)  {
					top: $gutter*2;
				}

				.custom-logo {
					width: 56px;
					border: 2px solid $white;
					border-radius: 50%;
					margin: $gutter 0 0 $gutter;
					background-color: mix(palette(secondary), black, 70%);

					@include breakpoint(md) {
						top: $gutter*2;
						width: 90px;
						border: 4px solid $white;
						border-radius: 50%;
					}
				}
			}
		}
	}

	// built in branding section
	.menu-header-wrapper {
		// wraps main nav
		.site-menu {
			width: 100%;
			display: block;
			background-color: rgba(mix(palette(primary), black, 30%), .5);

			@include breakpoint-max(df) {
				height: $gutter*9;
				background-color: mix(palette(secondary), black, 70%);
			}

			.primary-menu{
				border:none;
				font-size: 0;

				a {
					padding: 15px 0;
					border-bottom: none;
					color: $bright-white;
				}

				@include breakpoint-max(df) {
					padding: 0 $gutter*2;
					border-bottom: 1px solid $white;
					background-color: rgba(mix(palette(primary), black, 30%), .5);
					display: block !important;
					transition: transform .5s, background .5s;
					transform: translate(0, -192px);
				}
			}

			&.toggled-on {
				.primary-menu {
					@include breakpoint-max(df) {
						transform: translate(0, 72px);
					}
				}
			}

			.menu-menu-1-container {
				@include breakpoint-max(df) {
					position: relative;
					z-index: -1;
					height: 72px;
				}

				@include breakpoint(md) {
					transform: translate(0, 0);
				}
			}
		}

		.header-contact {
			display: flex;
			justify-content: flex-end;
		}

		.menu-toggle {
		    height: 38px;
		    width: 57px;
			padding: 0;
			margin: $gutter*2;
			border: none;
			background-image: url("images/hamburger.png");
			background-size: 57px 38px;
			background-color: transparent;
			position: absolute;
			right: 0;
			font-size: 0;
			box-shadow: none;

			@include breakpoint(lg) {
				display: none;
			}
		}
	}

	// nav element
	.main-navigation {
		margin-top: 0;

		ul {
			@include breakpoint(md) {
				display: block;
				text-align: center;
			}
		}

		li {
			&:first-child {
				border:none;
			}

			@include breakpoint(md) {
				display: inline-block;
				padding: 0 $gutter*2;
				margin: 0;
				transition: background .25s;

				&.current_page_item {
					background: rgba($black,.5);
				}

				&:hover {
					background: rgba($white,.3);
				}
			}

			a {
				font-weight: normal;
			}
		}
	}

}
