// header element
.site-header {
	padding-bottom: 0;
	border-bottom: none;
	background: none;
	z-index: 1;
	position: relative;
	
	// custom top nav
	.contact-header-wrapper {
		width: 100%;
		background-color: palette(secondary);
		position: relative;
		border-bottom: $gutter/2 solid $white;
		display: none;


		@include breakpoint(md) {
			display: block
		}

		.header-contact {
			height: 72px;
			padding-right: $gutter*2;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			background-color: mix(palette(secondary), black, 70%);

			.button-wrapper {
				display: inline-block;
			}

			.contact-email,
			.contact-phone {
				padding: 0 $gutter*2;
				margin: 0;
				color: $white;
				font-size: 14px;
			}

			.contact-email {
				border-right: 1px solid $white;
			}
			.button {
				display: none;

				@include breakpoint(md) {
					display: block;
				}
			}
		}
	}

	// built in branding section
	.menu-header-wrapper {
		position: relative;

		.site-branding {
			position: absolute;
			padding: 0;
			margin: 0;

			@include breakpoint(md) {
				top: -$gutter*7;
				left: $gutter*2;
			}

			.custom-logo {
				width: 56px;
				border: 2px solid $white;
				border-radius: 50%;
				margin: $gutter 0 0 $gutter;
				
				@include breakpoint(md) {
					width: 90px;
					border: 4px solid $white;
					border-radius: 50%;
				}
			}
		}

		// wraps main nav
		.site-menu {
			width: 100%;
			display: block;
			background-color: rgba(mix(palette(primary), black, 30%), .5);

			@include breakpoint-max(df) {
				height: $gutter*9;
				background-color: mix(palette(secondary), black, 70%);
			}

			.primary-menu{	
				border:none;
				font-size: 0;

				a {
					padding: 15px 0;
					border-bottom: none;
					color: $bright-white;
				}

				@include breakpoint-max(df) {
					padding: 0 $gutter*2;
					border-bottom: 1px solid $white;
					background-color: rgba(mix(palette(primary), black, 30%), .5);
					display: block !important;
					opacity: 0;
					transition: opacity .5s, transform .5s, background .5s;
					transform: translate(0, -116px);
				}
			}

			&.toggled-on {
				.primary-menu {
					opacity: 1;
					
					@include breakpoint-max(df) {
						transform: translate(0, 72px);
					}
				}
			}

			.menu-menu-1-container {
				@include breakpoint-max(df) {
					position: relative;
					z-index: -1;
					height: 72px;
				}

				@include breakpoint(md) {
					transform: translate(0, 0);
				}
			}
		}

		.header-contact {
			display: flex;
			justify-content: flex-end;
		}

		.menu-toggle {
		    height: 38px;
		    width: 57px;
			padding: 0;
			border: none;
			background-image: url("images/hamburger.png");
			background-size: 57px 38px;
			background-color: transparent;
			position: absolute;
			right: $gutter;
			bottom: $gutter*2;
			font-size: 0;
			box-shadow: none;

			@include breakpoint(lg) {
				display: none;
			}
		}
	}

	// nav element
	.main-navigation {
		margin-top: 0;

		ul {
			@include breakpoint(md) {
				display: block;
				text-align: center;
			}
		}

		li {
			&:first-child {
				border:none;
			}

			@include breakpoint(md) {
				display: inline-block;
				padding: 0 $gutter*2;
				margin: 0;
				transition: background .25s;

				&.current_page_item {
					background: rgba($black,.5);
				}

				&:hover {
					background: rgba($white,.3);
				}
			}

			a {
				font-weight: normal;
			}
		}
	}

}
