$view-small: 600px;
$view-default: 769px;
$view-medium: 896px;
$view-large: 1020px;
$view-xlarge: 1200px;
$view-class: "xs", "sm", "md", "df", "lg", "xl";

@mixin breakpoint($class) {

	@if $class == xs {
		@content;
	}

	@if $class == sm {
		@media (min-width: $view-small) { @content; }
	}

	@else if $class == md {
		@media (min-width: $view-medium) { @content; }
	}

	@else if $class == df {
		@media (min-width: $view-default) { @content; }
	}

	@else if $class == lg {
		@media (min-width: $view-large) { @content; }
	}

	@else if $class == xl {
		@media (min-width: $view-xlarge) { @content; }
	}
}

@mixin breakpoint-max($class) {
	@if $class == xs {
		@media (max-width: $view-small - 1) { @content; }
	}

	@else if $class == sm {
		@media (max-width: $view-medium - 1) { @content; }
	}

	@else if $class == md {
		@media (max-width: $view-default - 1) { @content; }
	}

	@else if $class == df {
		@media (max-width: $view-medium - 1) { @content; }
	}

	@else if $class == lg {
		@media (max-width: $view-large - 1) { @content; }
	}
}
