// styles for shared content boxes
.no-pad-top 	{ padding-top: 0 !important; }
.no-pad-bottom 	{ padding-bottom: 0 !important; }
.no-pad-left 	{ padding-left: 0 !important; }
.no-pad-right 	{ padding-right: 0 !important; }
.no-pad-all 	{ padding: 0 !important; }

.no-mar-top 	{ margin-top: 0 !important; }
.no-mar-bottom 	{ margin-bottom: 0 !important; }
.no-mar-left 	{ margin-left: 0 !important; }
.no-mar-right 	{ margin-right: 0 !important; }
.no-mar-all 	{ margin: 0 !important; }


.site-main {
	.page {
		// padding for hero images
		&:first-child {
			padding-top: 160px;

			@include breakpoint(md) {
				padding-top: 230px;
			}

			.su-row {
				.su-column {
					padding-top: 0;
				}
			}
		}
	}
}

.site-content {
    .content-area {
    	margin-top: -72px;
    }

    @include breakpoint(md) {
    	padding-top: 0 !important;

    	.content-area {
    		margin-top: 0;
    	}
    }
}

.content-bleed {
	@include breakpoint(df) {
		display: flex;
	}

	&.su-row {
		margin-left: -(2*$gutter);
		margin-right: -(2*$gutter);

		.su-column {
			margin-left: 0;
			margin-right: 0;

			&:first-child, &:last-child {
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 0 !important;
			}
		}

		.su-column-size-1-2 {
			width: 50%;
			justify-content: center;
			align-items: center;
			display: flex;
		}

		@include breakpoint(df) {
			margin-bottom: 0;
		}
	}
}


.back-top {
	background: $white;
	bottom: $gutter*4;
	top: auto;
	right: $gutter*1.5;
	font-size: 0;
	width: 12px;
	height: 10px;
	padding: 0;
	box-shadow: none;

	&:before {
		content: "top";
		position: absolute;
		font-size: 10px;
		color: $white;
		bottom: -($gutter*2);
		margin-left: -10px;
		text-shadow: 0 0 3px rgba($black, .6);
	}

	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-bottom: 12px solid $white;
		border-top: 12px solid transparent;
		border-right: 12px solid transparent;
		border-left: 12px solid transparent;
		position: absolute;
		top: -24px;
		left: -6px;
	}

	&:hover {
		background: $bright-white;

		&:before {
			color: $bright-white;
		}

		&:after {
			border-bottom-color: $bright-white;
		}
	}
}
