// styles for site fonts
@mixin font($type) {
	@if $type == 'serif' {
		font-family: 'Droid Serif', Helvetica, serif;
	} @else if $type == 'sans-serif' {
		font-family: 'Lato', Helvetica, sans-serif;
	} @else {
		@warn 'The options are serif or sans-serif'
	}
}

.font {
  @each $name, $color in $colors {
	&-#{$name} {
	color: set-text-color($color);
	}
  }
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

body {
	@include font('sans-serif');
	font-size: 20px;
	line-height: 32px;
	color: palette(secondary);
}

h1, h2, h3, h5 {
	@include font('serif');
	font-weight: normal;
}

h1 {
	font-size: 42px;
	line-height: 54px;
	color: $white;
}

h2 {
	font-size: 36px;
	line-height: 48px;
	color: palette(secondary);
}

h3 {
	font-size: 24px;
	line-height: 32px;
	color: $white;
}

h4 {
	@include font('sans-serif');
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	color: palette(secondary);
}

p {
	@include font('sans-serif');
}

ul, ol {
	margin-left: 30px;

	li {
		font-size: 20px;
		line-height: 32px;
	}
}

label {
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
}

.gradient{
	h2, h3, h4, h5, h6, p, li {
		color: $white;
	}
}
