@media screen and (min-width:0\0) {

	/*for the thank you page*/
	.wpcf7-mail-sent-ok.wpcf7-display-none.wpcf7-response-output {
		display: block !important;
	}

	/*for gallery copy*/
	.title-in {
		white-space: normal !important;
	}

	.desc-in {
		white-space: normal !important;
	}

}