// lightbox overrides
.mfp-bg {
	z-index: 10000 !important;
}

.mfp-wrap {
	z-index: 10001 !important;
}

.mfp-container {
	padding: 0 10px !important;

	@include breakpoint(df) {
		padding: 0 50px !important;
	}
}
