//*** about k5 ***//
// hero
.post-106,
.post-110,
.post-112,
.post-114 {

}

.post-106 {

}

// about bay area
.post-110 {

}

// our mission
.post-112 {

}

// meet the team
.post-114 {
	.team-header {
		padding-bottom: $gutter*4;
	}

	.team-row {
		.su-column {
			padding: 0 $gutter*4 $gutter*10;
		}

		.katb_test_wrap_basic {
			padding: 0;
			margin: 0;
		}
	}
}
