//*** about k5 ***//
.post-106 {
	background-image: url('images/about-hero-small.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: $white;
	text-shadow: 0 1px 4px rgba($black, .4);

	@include breakpoint(sm) {
		background-image: url('images/about-hero-medium.jpg');
	}

	@include breakpoint(md) {
		background-image: url('images/about-hero-large.jpg');
	}
}

// about bay area
.post-110 {

}

// our mission
.post-112 {
	.mission-row {
		.su-column {
			align-items: flex-start;
		}
	}
}

// meet the team
.post-114 {
	.team-header {
		padding-bottom: $gutter*4;
	}

	.team-row {
		padding: $gutter*5 $gutter*2 0;
		display: block;

		.su-column {
			padding: 0 $gutter*2 $gutter*5;
		}

		&:last-child .su-column {
			padding-bottom: $gutter*10;
		}

		.katb_test_wrap_basic {
			padding: 0;
			margin: 0;
			position: relative;
		}

		.katb_test_box_basic {
			padding: 0;
			margin: 0;
		}

		.katb_title_rating_wrap {
			display: none;
		}

		.katb_meta_top {
			position: relative;

			@include breakpoint(md) {
				width: 50%;
				position: absolute;
				left: 50%;
				margin-top: $gutter*3;
			}

			@include breakpoint(lg) {
				left: 45%;
			}
		}

		.katb_author, .katb_custom1 {
			text-align: center;
			color: darken(palette(primary), 30%);
		}

		.katb_author {
			width: 100%;
			font-size: 18px;
			text-align: center;
			line-height: 24px;

			&:before {
				content: '- ';
			}
		}

		.katb_custom1 {
			@include font('serif');
			font-size: 28px;
			font-weight: bold;
			font-style: normal;
			float: none;
			display: block;
			margin: 0 auto $gutter;

			&:before {
				margin-left: -18px;
				margin-top: -18px;
				content: '“';
				color: palette(primary);
				position: absolute;
				top: 0;
				left: 50%;
				font-size: 72px;
			}
		}

		.katb_test_text_basic p, .katb_test_text p {
			line-height: 32px !important;
			font-size: 20px !important;
		}
	}
}

.katb_avatar, .katb_widget_avatar, .katb_avatar_round_image, .katb_widget_avatar_round_image {
	width: 100% !important;
	max-width: 218px;
	margin: 0 auto $gutter*2;
	display: block;
	float: none;

	@include breakpoint(md) {
		width: 50% !important;
		margin-left: 0;
	}
}
