//*** home page ***//
// hero
.post-49 {

}

.home-hero {
  text-align: center;

  .eyebrow {
    max-width: 580px;
    margin: 0 auto;
  }

  .home-contact {

    padding-top: 40px;

    @include breakpoint(md) {
      padding-top: 184px;
    }
  }

  .home-form {
    max-width: 795px;
    margin: 0 auto;
    text-align: left;

    label {
      width: 100%;
    }

    .wpcf7-submit {
      @extend .button-tertiary-2;
      margin-top: 14px;
      width: 100%;
    }
  }

  .wpcf7 {
    position: relative;
    max-width: 795px;
    margin: 0 auto;
  }

  .wpcf7-response-output {
    top: 0;
    height: 100%;
    margin: 0;
    position: absolute;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: none;
  }
}

.sent {
  .wpcf7-response-output {
    display: flex;
  }

  .home-form {
    visibility: hidden;
  }
}

// proven
.post-51 {

}

// handle hard part
.post-70 {
  .content-bleed {
    position: relative;
    overflow: hidden;

    .home-gallery {
      display: block;

      @media (max-width: 768px) {
        padding: 0;
      }
    }

    .uris-slider-title {
      display: none;
    }

    .title-in-bg, .desc-in-bg {
      font-family: 'Lato', Helvetica, sans-serif !important;
      background: none !important;
      text-align: left !important;
      color: $white !important;
      margin: 0 !important;
      line-height: 32px !important;
      height: auto !important;
    }

    #example3_102 {
      .title-in-bg {
        font-size: 24px !important;
        margin-top: $gutter*10 !important;
        margin-left: $gutter*4 !important;
      }

      .desc-in-bg {
        margin-bottom: 72px !important;
        font-size: 20px !important;
        margin-left: $gutter*4 !important;
      }
    }

    .sp-padding {
        padding: $gutter*2;
    }

    .sp-mask {
      transition: none !important;

      @media (max-width: 768px) {
        max-height: 500px;
      }
    }

    .sp-image-container {
      position: absolute;
      top: 0;
    }

    .sp-layer  {
      position: relative !important;
      margin: none !important;
      top: 0 !important;
    }

    .sp-arrows {
      top: auto;
      left: $gutter*4;
      margin-top: 0;
      bottom: $gutter*8;
      width: 136px;
    }

    .sp-fade-arrows {
      opacity: 1;
    }

    .sp-arrow {
      width: 50px;
      height: 50px;
      transition: background .25s;
      border-radius: 50%;
      font-family: 'icomoon' !important;
      font-weight: normal;
      font-size: 80px;
      color: palette(tertiary-2);

      &:hover {
        background: rgba(palette(tertiary-3), .5);
      }

      &:after {
        display: none;
      }

      &.sp-previous-arrow, &.sp-next-arrow {
        &:before {
          transform: none;
          background-color: transparent !important;
          top: 10px;
          left: -15px;
        }
      }

      &.sp-previous-arrow {
        left: 0;

        &:before {
          content: "\e904";
        }
      }

      &.sp-next-arrow {

        &:before {
          content: "\e905";
        }
      }
    }

    .hide-small-screen {
      display: block !important;
    }

    @include breakpoint(sm) {
      .hide-medium-screen {
        display: block !important;
      }
    }

    @media (min-width: 769px) {
      .home-gallery {
        position: absolute;
        left: 50%;
        height: 100%;
        display: flex;

        .slider-pro {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }

        .sp-slides-container {
            height: 100%;
        }

        .sp-slide {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        .sp-slides, .sp-slide {
          position: absolute;
          height: 100% !important;
        }

        .sp-mask {
          position: absolute;
          height: 100% !important;
        }

        .sp-selected {
          z-index: 1;
        }

        .sp-slide, .sp-image-container, .sp-image {
          height: 100% !important;
        }

        .sp-image {
          width: auto !important;
        }
      }
    }

  }
}

// peace of mind
.post-80 {

  &.hentry.has-post-thumbnail{
    color: $white;
  }

  .home-steps {
    padding: 0 $gutter*4;
  }

  .grid-gutter:last-child .step .icon:after {
    display: none;
  }

  .step {

    .icon {
      text-align: center;
      position: relative;

      @include breakpoint(lg) {
        &:after {
          font-family: 'icomoon';
          content: "\e905";
          color: #fff;
          font-size: 80px;
          position: absolute;
          top: 22px;
        }

        &:last-child:after {
          display: none;
        }
      }
    }

    [class^="icon-"], [class*=" icon-"] {
      font-size: 80px;
      text-align: center;

      &:before {
        color: #fff;
      }
    }
  }

  .home-process-cta {
    text-align: center;

    .su-column {
      padding-top: $gutter*4;
      padding-bottom: $gutter*12;
    }
  }
}

// k5 Believe
.post-86 {

}
