//*** home page ***//
// hero
.post-49 {
  padding-top: 230px;
}

.home-hero {
  text-align: center;

  .eyebrow {
    max-width: 580px;
    margin: 0 auto;
  }

  .home-contact {

    padding-top: 40px;

    @include breakpoint(md) {
      padding-top: 184px;
    }
  }

  .home-form {
    max-width: 795px;
    margin: 0 auto;
    text-align: left;

    label {
      width: 100%;
    }

    .wpcf7-submit {
      @extend .button-tertiary-2;
      margin-top: 14px;
      width: 100%;
    }
  }

  .wpcf7 {
    position: relative;
    max-width: 795px;
    margin: 0 auto;
  }

  .wpcf7-response-output {
    top: 0;
    height: 100%;
    margin: 0;
    position: absolute;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: none;
  }
}

.sent {
  .wpcf7-response-output {
    display: flex;
  }

  .home-form {
    visibility: hidden;
  }
}

// proven
.post-51 {

}

// handle hard part
.post-70 {
  .content-bleed {
    position: relative;
    overflow: hidden;

    .uris-slider-title {
      display: none;
    }

    @media (min-width: 769px) {
      .home-gallery {
        position: absolute;
        left: 50%;
        height: 100%;

        .slider-pro {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }

        .sp-slides-container {
            position: absolute;
            height: 100%;
        }

        .sp-slides, .sp-slide {
          position: absolute;
          height: 100% !important;
        }

        .sp-mask {
          position: absolute;
          height: 100% !important;
          transition: none !important;
        }

        .sp-selected {
          z-index: 1;
        }

        .sp-slide, .sp-image-container, .sp-image {
          height: 100% !important;
        }

        .sp-image {
          width: auto !important;
        }
      }
    }

  }
}

// peace of mind
.post-80 {

}

// k5 Believe
.post-86 {

}
