//*** How We Buy Homes ***//
// hero
.post-131 {
	background-image: url('images/process-hero-small.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: $white;
	text-shadow: 0 1px 4px rgba($black, .4);

	@include breakpoint(sm) {
		background-image: url('images/process-hero-medium.jpg');
	}

	@include breakpoint(md) {
		background-image: url('images/process-hero-large.jpg');
	}
}

// all of the 'process' section
.post-275,
.post-280,
.post-285,
.post-287 {
	.process-row {
		.process-icon {
			text-align: center;
		}

		.process-content {
			a {
				color: $white;
				box-shadow: none;
			}
		}

		@media (min-width: 769px) {
			display: flex;
			align-items: center;

			.process-icon, .process-content {
				display: flex;
				justify-content: center;
			}
		}

		[class^="icon-"]:before, [class*=" icon-"]:before {
			color: palette(primary);
			font-size: 80px;

			@include breakpoint(md) {
				font-size: 160px;
			}
		}
	}
}

// style overwrite for ordering of icon
.post-280,
.post-287 {
	.process-row {
		background: linear-gradient(135deg, #604d35, #392e20);

		.process-icon {
			order: 2;
		}
		.process-content {
			order: 1;
		}
	}
}

// ways we've helped
.post-150 {
	.process-title {
		padding-bottom: $gutter*5;
		text-align: center;
	}

	.process-helped {
		.su-column {
			padding-top: 0;
		}

	}
}
