// main styles for k5
@import 'shared/colors';
@import 'shared/fonts';
@import 'shared/buttons';
@import 'shared/icons';
@import 'shared/breakpoints';
@import 'shared/grid';
@import 'shared/content';

@import 'templates/header';
// @import 'templates/footer';

@import 'page/home';
@import 'page/about';
@import 'page/process';

/*
*******************
*******************

Changes to the Shortcodes Ultimate [su-**]
need to be kept in the plugin Custom
CSS Panel in the dashboard. Maintained
in comments:

*******************

.su-row .su-column {
    margin: 0 0 0 1%;
}

.su-column-size-1-4 {
    width: 24%;
}

.su-row {
	margin-bottom: 0;
}

*******************
*******************
*/

/*
*******************
*******************

Changes to the styles.css need
to be kept in the child theme's
style.css file.

*******************
*******************
*/
