// main styles for k5
@import 'shared/colors';
@import 'shared/fonts';
@import 'shared/buttons';
@import 'shared/icons';
// @import 'shared/images';
// @import 'shared/forms';

// header
.site-header {

	.contact-header-wrapper {
		width: 100%;
		background-color: palette(secondary);
		position: relative;

		.header-contact {
			display: flex;
			justify-content: flex-end;
			width: 90%;
			background-color: palette(secondary);
			.button-wrapper {
				display: inline-block;
			}
			.contact-email,
			.contact-phone,
			.button-wrapper {
				color: $white;
				margin: 1em 0.5em;
			}
		}
	}
	.menu-header-wrapper {
		.site-branding {
			margin-top: 4px;
		}
		.site-menu {
			width: 100%;
			.main-navigation {
				margin-top: 0;
			}
			.primary-menu {
				justify-content: center;
				a {
					color: white;
					border-bottom: none;
					padding: 15px 0;
				}
			}
		}
	.header-contact {
		display: flex;
		justify-content: flex-end;
	}
}
