// main styles for k5
@import 'shared/colors';
@import 'shared/fonts';
@import 'shared/buttons';
@import 'shared/icons';
// @import 'shared/images';
// @import 'shared/forms';

// header
.site-header {

	.contact-header-wrapper {
		width: 100%;
		background-color: palette(secondary);
		position: relative;

		.header-contact {
			display: flex;
			justify-content: flex-end;
			width: 90%;
			background-color: palette(secondary);
			.button-wrapper {
				display: inline-block;
			}
			.contact-email,
			.contact-phone,
			.button-wrapper {
				color: $white;
				margin: 1em 0.5em;
			}
		}
	}
	.menu-header-wrapper {
		.site-branding {
			margin-top: 4px;
		}
		.site-menu {
			width: 100%;
			.main-navigation {
				margin-top: 0;
			}
			.primary-menu {
				justify-content: center;
				a {
					color: white;
					border-bottom: none;
					padding: 15px 0;
				}
			}
		}
		.header-contact {
			display: flex;
			justify-content: flex-end;
		}
	}
}

//*** home page ***//
// hero
.post-49 {

}

// proven
.post-51 {

}

// handle hard part
.post-71 {

}

// with K5
.post-80 {

}

// k5 Believe
.post-86 {

}

//*** How We Buy Homes ***//
// hero
.post-131 {

}

// when you're ready
.post-139 {

}

// ways we've helped
.post-150 {

}

//*** about k5 ***//
// hero
.post-106 {

}

// about bay area
.post-110 {

}

// our mission
.post-112 {

}

// meet the team
.post-114 {
	h2 {
		display: flex;
		justify-content: center;
		padding-top: 50px;
	}
	.testimonial-entry {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 0;
		.testimonial-entry-content {
			margin-bottom: 0;
		}
		.testimonial-entry-title {
			display: flex;
			justify-content: flex-end;
		}
		.testimonial-featured-image {
			display: flex;
			justify-content: flex-start;
			margin: 0;
			width: 218px;
			height: 228px;
		}
	}
}