// main styles for k5
@import 'shared/colors';
@import 'shared/fonts';
@import 'shared/buttons';
// @import 'shared/images';
// @import 'shared/forms';

// header
.site-header {
	.header-contact {
		display: flex;
		justify-content: flex-end;
	}
}
